@font-face {
    font-family: 'Oxygen';
    src: url("../fonts/Oxygen-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Oxygen';
    src: url("../fonts/Oxygen-Bold.ttf");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'Oxygen';
    src: url("../fonts/Oxygen-Light.ttf");
    font-style: normal;
    font-weight: 100;
}

body {
    background-color: transparent;
    color: #7a858a;
    font-size: 14px;
    line-height: 24px;
    margin: 0px;
    padding: 0px;
    font-family: 'Oxygen', Arial, sans-serif;
	-webkit-font-smoothing: subpixel-antialiased;
	overflow: hidden;
}

/* Chat */

.btn {
    width: 100%;
    height: 42px;
    background: #ddd;
    border: 1px solid #ddd;
    cursor: pointer;
    color: #676767;
    border-radius: 3px;
    outline: none;
    -webkit-transition: background 0.2s ease-in-out;
    -moz-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
    padding: 10px 20px;
}

.flRight {
    float: right!important;
}

.chat {    
    width: 100%;
	height: 100vh;
    background: #fff;
    box-shadow: 0 0 6px rgba(49, 49, 49, 0.41);
    z-index: 99999999999;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	transition: 0.3s;
}

.chatTitle {
    background: #3e3e3e;
    cursor: pointer;
    color: #fff;
    padding: 15px 20px;
    font-size: 16px;
    border-bottom: 2px solid #57c1e8;
}

.chatTitle>span {
    float: right;
    margin: 5px 0 0 10px;
    cursor: pointer;
    display: block;
    font-size: 14px;
}

.welcome-chat,
.email-chat {
    padding: 20px;
    color: #717171;
}

.welcome-chat>p,
.email-chat>p {
    margin: 0 0 20px;
}

.welcome-chat>input {
	-webkit-width: calc(100% - 20px);
	-moz-width: calc(100% - 20px);
	width: calc(100% - 20px);
    margin: 0 0 20px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #efa685;
    border-radius: 2px;
    color: #6b6b6b;
    padding: 5px 10px;
}

.welcome-chat:after,
.email-chat:after,
.dialog-chat:after {
    content: '';
    display: block;
    clear: both;
}

.btnChat {
    background: #3e3e3e;
    border-color: #3e3e3e;
    color: #fff;
}

.chat.hide {
    -webkit-transform: translate(0, -webkit-calc(100% - 54px));
    -moz-transform: translate(0, -moz-calc(100% - 54px));
    transform: translate(0, calc(100% - 54px));
}

.chatForm {
    border-top: 1px solid #eaeaea;
    padding: 12px 10px;
    margin: 0 -20px;
}

.chatForm>span {
    display: block;
    width: 35px;
    float: left;
    color: #2eb3e4;
    padding: 12px 9px;
    border-right: 1px solid #eaeaea;
    min-height: 40px;
}

.chatForm:after {
    content: '';
    display: block;
    clear: both;
}

.chatForm>input,
.chatForm>textarea {
    width: -webkit-calc(100% - 45px);
    width: -moz-calc(100% - 45px);
    width: calc(100% - 45px);
    margin-left: 10px;
    min-height: 40px;
    line-height: 40px;
    border: none;
    color: #757575;
}

.chatForm>textarea {
    min-height: 100px;
    max-height: 100px;
    height: 100px;
    line-height: 24px;
    max-width: -webkit-calc(100% - 45px);
    max-width: -moz-calc(100% - 45px);
    max-width: calc(100% - 45px);
    min-width: -webkit-calc(100% - 45px);
    min-width: -moz-calc(100% - 45px);
    min-width: calc(100% - 45px);
    resize: none;
}

.chatForm>span.fa-envelope {
    height: 100px;
}

.dialog-form {
    padding: 15px 20px;
    border-top: 1px solid #eaeaea;
}

.dialog-form>textarea {
    width: -webkit-calc(100% - 30px);
    width: -moz-calc(100% - 30px);
    width: calc(100% - 30px);
    min-width: -webkit-calc(100% - 30px);
    min-width: -moz-calc(100% - 30px);
    min-width: calc(100% - 30px);
    max-width: -webkit-calc(100% - 30px);
    max-width: -moz-calc(100% - 30px);
    max-width: calc(100% - 30px);
    height: 36px;
    line-height: 20px;
    max-height: 50px;
    min-height: 36px;
    color: #3e3e3e;
    border: none;
    font-size: 15px;
    padding: 5px 0;
    resize: none;
}

.dialog-form>span {
    float: right;
    padding: 10px 0;
    color: #57c1e8;
    font-size: 18px;
    cursor: pointer;
}

.dialog-message {
    margin: 10px 20px 0 10px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
}

.dialog {
    padding: 0 10px 10px;
    min-height: 250px;
    max-height: 250px;
    overflow: auto;
}

.dm-title {
    font-size: 13px;
    font-weight: bold;
}

.dm-title>i {
    color: #b3b3b3;
}

.dm-content {
    background: #57c1e8;
    color: #fff;
    padding: 5px 10px;
    border-radius: 0 6px 6px;
    line-height: 18px;
    position: relative;
}

.dm-content:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: -7px;
    border-style: solid;
    border-width: 0 7px 7px 0;
    border-color: transparent #57c1e8 transparent transparent;
}

.dialog-message.me {
    margin: 10px 10px 0 20px;
}

.me .dm-title {
    text-align: right;
}

.me .dm-content {
    background: #efefef;
    color: #656565;
    border-radius: 6px 0px 6px 6px;
}

.me .dm-content:before {
    border-width: 7px 7px 0 0;
    border-color: #efefef transparent transparent transparent;
    left: initial;
    left: auto;
    right: -7px;
}


/* Chat */

/* Alerts */

.alr {
    padding: 25px 30px;
    background: #f1f1f1;
    color: #7F8C8D;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 9999999;
}

.alrClose {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

.alrClose:hover {
    opacity: 0.7;
}

.alrSuccess {
    background: #23C19A;
    color: #fff;
}

.alrDanger {
    background: #E45858;
    color: #fff;
}

.alrWarning {
    background: #F98F5C;
    color: #fff;
}

.alrInfo {
    background: #44ABD2;
    color: #fff;
}

.feedback-chat {
    text-align: center;
    font-size: 18px;
    padding: 20px 10px 30px;
}

.rStart {
    font-size: 24px;
    margin-left: 10px;
    color: #bbc8d6;
	cursor: pointer;
}

.rStart.active, .rStart.hover {
	color: #e1cf38;
}

/* Alerts */

@keyframes height {
  from {
    height: 0px; 
  }

  to {
    height: 210px;
  }
}

.chat-anim {
	animation-duration: 0.5s;
	animation-name: height;
}

.dialog-message.random-message {
    margin: 0 0px 20px 0px;
}

.imImg {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
    color: #cfd4de;
    font-size: 16px;
    border: 1px solid #e1e6ef;
    background: #fff;
}

.dialog-img {
	padding: 9px 5px 0 0;
}

.dialog-combi {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}