<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Your Company</title>
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/ui.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/mobile.css" />

    <script src="js/jquery.min.js" type="text/javascript"></script>
	<script src="js/ui.js"></script>
</head>
<body>
    <div class="ctnr">
        <header class="flex">
            <div class="nav-toggle">
                <span class="fa fa-bars" onclick="$('.hdr-nav > ul').slideToggle();"></span>
            </div>
            <div class="logo">
                <a href="/" onclick="Page.get(this.href); return false"><img src="img/logo.svg"></a>
            </div>
            <div class="hdr-ctnr flex">
                <div class="flex">
                    <div class="hdr-nav">
                        <ul>
                            <li><span class="fa fa-times" onclick="$('.hdr-nav > ul').slideUp();"></span></li>
                            <li class="dd">
                                <a href="/shop">Shop</a>
                                <ul>
                                    <li class="dd">
                                        <a href="#">Computers</a>
                                        <ul>
                                            <li><a href="#">New</a></li>
                                            <li><a href="#">Rubished</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Keybords</a></li>
                                </ul>
                            </li>
                            <li class="dd">
                                <a href="/shop">Repairs</a>
                                <ul>
                                    <li><a href="#">Keybords</a></li>
                                </ul>
                            </li>
                            <li class="dd">
                                <a href="/shop">Services</a>
                                <ul>
                                    <li><a href="#">Keybords</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Buy sell trade</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contacts</a></li>
                        </ul>
                    </div>
                    <div class="hdr-phone">
                        1-866-488-2806
                    </div>
                    <div class="htd-login">
                        <a href="#">Login</a>
                    </div>
                </div>
                <div class="flex">
                    <div class="hdr-search flex">
                        <input name="search">
                        <span class="fa fa-search"></span>
                    </div>
                    <div class="hdr-call-me">
                        <button class="btn">Call me</button>
                    </div>
                    <div class="htd-cart">
                        <div class="support-nav">
                            <a href="/support" onclick="Page.get(this.href); return false;">Support</a>
                            <ul>
                                <li><a href="#">Remote PC repair</a></li>
                                <li><a href="#">Custom gaming PC</a></li>
                            </ul>
                        </div>
                        <div class="mini-cart">
                            <a href="/cart" onclick="Page.get(this.href); return false;">Cart</a>
                            <ul>
                                <li>
                                    <a href="#" onclick="Page.get(this.href); return false;">Generic (no label/brand)</a>
                                    <span class="cartPrice">$50</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="line">
            <span></span><span></span><span></span><span></span><span></span><span></span>
        </div>
    
    </div>
    <div class="ctnr">
        <div class="page">
            <h1>Cart</h1>

            <div class="cart">
                <h2>Your items</h2>
                <div class="cart-products">
					{items}
                    <div class="cart-product">
                        <div class="cp-img">
                            <img src="img/item.jpg">
                        </div>
                        <div class="cp-name">
                            <a href="#">Your Company 2000mAh (blue)</a>
                        </div>
                        <div class="cp-descr">
                            6 cell battery bank 2000mAh 
                            1 micro usb ports for charging
                            1 1a 5v usb port and 1 2a 
                            5v usb port
                        </div>
                        <div class="cp-price">
                            $45
                        </div>
                        <div class="cp-remove">
                                <a href="#">Remove</a>
                        </div>
                    </div>
                </div>

                <div class="flex">
                    <div class="cart-delivery">
                        <h2>Delivery</h2>
                        <select name="delivery">
                            <option value="0">From store</option>
                        </select>
                    </div>
                    <div class="cart-total">
                        <h2>Total</h2>
                        <span class="cart-total-price">$45</span>
                        <button class="btn">Proceed to checkout</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="stores-near">
            <div class="sn-title">Store near you</div>
            <div class="sn-search flex">
                <input name="search" placeholder="Enter your zip or address" onkeyup="if (event.keyCode == 13) nearStore(this.value);">
                <span class="fa fa-search" onclick="nearStore($(this).prev().val());"></span>
            </div>
        </div>
    </div>

    <div id="map"></div>

    <footer>
        <div class="line"></div>
        <div class="ctnr flex">
            <div class="sn">
                <ul>
                    <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                    <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                </ul>
            </div>
            <div>
                <img src="img/paypal.png">
            </div>
        </div>
        <div class="line last-line">
            <div class="ctnr flex">
                <div>2017 © Your Company. All Rights Reserved</div>
                <div><a href="#">TERMS OF SERVICE</a></div>
            </div>
        </div>
    </footer>

     <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAtalQktYG8vsla1PXKMpdUOyvmYK7a7YY"></script>
	<script>
	$(function(){
		$('#slider').rbtSlider({
			height: '315px', 
			arrows: true
        });
        
        initMap();

        $('li.dd > a').on('click', function() {
            event.preventDefault();
            if ($(window).width() <= 991) {
                $(this).next().slideToggle();
                mob = 1;
            }
        });
    });
    
    var map = '',
        marker = '',
        locations = [
            {
                lat: 42.6789979,
                lng: -73.7924966
            },
            {
                lat: 42.8521295,
                lng: -73.7593989
            }
        ],
        bounds = new google.maps.LatLngBounds(),
        geocoder = new google.maps.Geocoder(),
        near = null;

    function initMap(lat, lng){
        var myLatLng = [
            {
                lat: parseFloat(lat),
                lng: parseFloat(lng)
            }
        ];

        map = new google.maps.Map(document.getElementById('map'), {
            center: locations[0],
            scrollwheel: false,
            zoom: 16,
            mapTypeId: google.maps.MapTypeId['roadmap'] 
        });

        for (n in locations) {
            marker = new google.maps.Marker({
                position: locations[n],
                map: map,
                icon: {
                    url: 'img/marker.png',
                    scaledSize: new google.maps.Size(121, 76)
                }
            });
            bounds.extend(marker.position);
        }

        if (locations.length > 1)
            map.fitBounds(bounds);
        map.setZoom(16);
    }

    function nearStore(v) {
        var addBounds = new google.maps.LatLngBounds();
        for (n in locations) {
            addBounds.extend(locations[n]);
        }
        geocoder.geocode( {'address': 'USA ' + v}, function(results, status) {
            if (near) {
                near.setMap(null);
                near = null;
            }
            if (status == google.maps.GeocoderStatus.OK) {
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });
                addBounds.extend(results[0].geometry.location)
                map.fitBounds(addBounds);
                near = marker;
            }
        });
    }
	</script>
</body>
</html>