* {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #333333;
    background-color: #f0f2f5;
    text-align: center;
    position: relative;
	width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 80px 0 0;
}

input {
	outline: none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

input:focus {
    box-shadow: 1px 1px 3px rgba(128, 128, 128, 0.20) inset;
	border-left: 1px solid #ddd;
}

.vAlign {
    display: table-cell;
    vertical-align: middle;
	padding: 0;
}

.offline {
    background: #fff;
    border: 1px solid #ddd;
    width: 50%;
    max-width: 100%;
    margin: 10px auto;
    padding: 20px;
}