.hdr {
    display: block;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #e5e5e5;
    z-index: 1001;
    position: relative;
}

.hdr.fixed {
    position: fixed;
    top: 0;
    left: 0;
}

.hdr.fixed > div:first-child {
    display: none;
}

.hdr .logo {
    width: 125px;
    float: left;
}

.uMenu {
    float: left;
    margin: -10px 20px;
    height: 83px;
}

.hdr:after {
    content: ' ';
    display: block;
    clear: both;
}

.uMenu > ul {
    list-style: none;
    padding: 0;
    margin: 0 20px;
    border-left: 1px solid #e5e5e5;
}

.uMenu > ul > li {
    display: block;
    height: 91px;
    line-height: 90px;
    width: 52px;
    border-right: 1px solid #e5e5e5;
    font-size: 18px;
    text-align: center;
    padding: 0;
    margin: 0;
    float: left;
}

.uMenu > ul > li > a {
    display: block;
    position: relative;
    color: #9c9c9c;
    overflow: hidden;
    height: 100%;
}

.uMenu > ul > li > a:before {
    font-family: FontAwesome;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    background: #57c1e8;
    color: #fff;
    -webkit-transition: top 0.3s ease-in-out;
    -moz-transition: top 0.3s ease-in-out;
    transition: top 0.3s ease-in-out;
}

.uMenu > ul:after {
    content: ' ';
    display: block;
    clear: both;
}

.uMenu > ul > li > a:hover:before {
    top: 0;
}

.uMenu > ul > li > a > span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 91px;
    -webkit-transition: top 0.3s ease-in-out;
    -moz-transition: top 0.3s ease-in-out;
    transition: top 0.3s ease-in-out;
}

.uMenu > ul > li > a:hover > span {
    top: -100%;
}

.hCart {
    float: right;
    margin: -10px 0;
    position: relative;
}

.hCart > div:first-child {
    width: 52px;
    height: 91px;
    display: block;
    position: relative;
    color: #9c9c9c;
    font-size: 18px;
    overflow: hidden;
    text-align: center;
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
}

.miniCart {
    position: absolute;
    top: 100%;
    right: 0px;
    width: 200px;
    background: #c0c623;
    border-left: 1px solid #c0c623;
    border-right: 1px solid #c0c623;
    color: #fff;
    -webkit-transition: max-height 0.3s ease-in-out;
    -moz-transition: max-height 0.3s ease-in-out;
    transition: max-height 0.3s ease-in-out;
    max-height: 0;
    overflow: hidden;
}

.hCart:hover > div:first-child {
    border-left: 1px solid #c0c623;
    border-right: 1px solid #c0c623;
}

.hCart > div:first-child > span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 91px;
    -webkit-transition: top 0.3s ease-in-out;
    -moz-transition: top 0.3s ease-in-out;
    transition: top 0.3s ease-in-out;
}

.hCart > div:first-child:before {
    font-family: FontAwesome;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    background: #c0c623;
    color: #fff;
    line-height: 91px;
    -webkit-transition: top 0.3s ease-in-out;
    -moz-transition: top 0.3s ease-in-out;
    transition: top 0.3s ease-in-out;
}

.hCart:hover > div:first-child {
    cursor: pointer;
}

.hCart:hover > div:first-child > span {
    top: -100%;
}

.hCart:hover > div:first-child:before {
    top: 0;
}

.hCart:hover .miniCart {
    max-height: 500px;
    -webkit-transition: max-height 0.3s ease-in-out;
    -moz-transition: max-height 0.3s ease-in-out;
    transition: max-height 0.3s ease-in-out;
}

.nItems {
    padding: 10px 20px;
    font-weight: bold;
}

ul.cartItems {
    margin: 10px;
    padding: 0;
    list-style: none;
}

ul.cartItems > li > a {
    color: #f3f5c9;
    display: inline-block;
    width: calc(100% - 60px);
}

span.cartPrice {
    float: right;
    width: 60px;
    text-align: right;
}

.cartSubtotal {
    padding: 10px 20px;
    font-weight: bold;
    border-top: 1px solid #d3d68a;
}

.hSearch {
    float: right;
    padding: 18px 20px;
}

.hSearch > input {
    background: #fbfbfb;
    border: 1px solid #e5e5e5;
    color: #777;
    border-right: 0;
    padding: 7px 14px;
    height: 34px;
    border-radius: 15px 0 0 15px;
    box-shadow: 0 6px 6px #efefef inset;
    float: left;
    width: 190px;
    -webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
}

.hSearch > span {
    background: #fbfbfb;
    border: 1px solid #e5e5e5;
    border-left: 0;
    padding: 10px 16px;
    height: 34px;
    border-radius: 0 15px 15px 0;
    box-shadow: 0 6px 6px #efefef inset;
    color: #b4c1c5;
    text-align: center;
}

.hSearch > input:hover, .hSearch > input:hover + span, 
.hSearch > input:focus, .hSearch > input:focus + span {
    background: #fcfde2;
    box-shadow: 0 6px 6px #ececd2 inset;
    color: #acad90;
}

.hSearch > input:focus {
    width: 230px;
    -webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
}

.nvg {
    text-align: center;
    padding: 0;
    position: relative;
    z-index: 1000;
    margin: 0 auto;
    width: 100%;
    background-color: #f8f8f8;
}

.nvg > div > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 13px;
}

.nvg > div > ul > li {
    display: inline-block;
    position: relative;
    padding: 0;
    font-weight: bold;
}

.nvg > div > ul > li.dd > ul,
.nvg > div > ul > li.dd > ul li.dd > ul {
    position: absolute;
    background: #fff;
    list-style: none;
    padding: 0;
    margin: 15px 0;
    border: 3px solid #cfd619;
    width: 308px;
    margin-top: 20px;
    opacity: 0;
    visibility: hidden;
    list-style: none;
    -webkit-transition: opacity 0.3s ease-in-out 0s, margin-top 0.3s ease-in-out 0s, visibility 0s ease 0.3s;
    -moz-transition: opacity 0.3s ease-in-out 0s, margin-top 0.3s ease-in-out 0s, visibility 0s ease 0.3s;
    transition: opacity 0.3s ease-in-out 0s, margin-top 0.3s ease-in-out 0s, visibility 0s ease 0.3s;
}

.nvg > div > ul > li.dd > ul li.dd > ul {
    left: 100%;
    margin-top: -40px;
    margin-left: 20px;
    -webkit-transition: opacity 0.3s ease-in-out 0s, margin-left 0.3s ease-in-out 0s, visibility 0s ease 0.3s;
    -moz-transition: opacity 0.3s ease-in-out 0s, margin-left 0.3s ease-in-out 0s, visibility 0s ease 0.3s;
    transition: opacity 0.3s ease-in-out 0s, margin-left 0.3s ease-in-out 0s, visibility 0s ease 0.3s;
}

.nvg > div > ul > li.dd:hover > ul,
.nvg > div > ul > li.dd > ul li.dd:hover > ul {
    margin-top: 0px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: visibility 0s ease, opacity 0.3s ease-in-out, margin-top 0.3s ease-in-out;
    -moz-transition: visibility 0s ease, opacity 0.3s ease-in-out, margin-top 0.3s ease-in-out;
    transition: visibility 0s ease, opacity 0.3s ease-in-out, margin-top 0.3s ease-in-out;
}

.nvg > div > ul > li.dd > ul li.dd:hover > ul {
    margin-top: -40px;
    margin-left: 0px;
    -webkit-transition: visibility 0s ease, opacity 0.3s ease-in-out, margin-left 0.3s ease-in-out;
    -moz-transition: visibility 0s ease, opacity 0.3s ease-in-out, margin-left 0.3s ease-in-out;
    transition: visibility 0s ease, opacity 0.3s ease-in-out, margin-left 0.3s ease-in-out;
}

/*.nvg > div > ul > li.dd > div > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
    min-width: 150px;
}*/

.nvg > div > ul > li a {
    color: #696f71;
    font-weight: normal;
    font-size: 16px;
    display: block;
}

.nvg > div > ul > li > a {
    padding: 15px 25px;
}

.nvg > div > ul > li.dd ul li {
    padding: 5px 20px;
}

.nvg > div > ul > li.dd ul li > a {
    color: #6f6f6f;
    font-weight: normal;
    font-size: 16px;
}

.nvg > div > ul > li.dd ul li:first-child {
    padding-top: 13px;
}

.nvg > div > ul > li.dd ul li:last-child {
    padding-bottom: 13px;
}

.nvg > div > ul > li.dd > ul:before {
    content: ' ';
    position: absolute;
    top: -11px;
    left: 15px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #cfd619;
    border-top: 0;
}

.nvg > div > ul > li.dd > ul li.dd > ul:before {
    content: ' ';
    position: absolute;
    top: 15px;
    left: -11px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-right-color: #cfd619;
    border-left: 0;
}

.nvg > div > ul > li.dd > ul li.dd > a:after {
    content: '\f0da';
    font-family: FontAwesome;
    margin: 0 0 0 10px;
    font-size: 13px;
    line-height: 10px;
}

.nvg > div > ul > li.dd ul li:first-child > span {
    border-bottom: 1px solid #ddd;
    display: block;
    padding-bottom: 5px;
    font-size: 15px;
}

.nvg > div > ul a:hover,
.nvg > div > ul > li.dd ul li > a:hover {
    color: #a5ab13;
}

.fixed {
    padding-top: 40px;
}
.fixed > .nvg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
}

.itemGroup {
    margin: 30px 0;
}

.igTitle {
    border-bottom: 2px solid #bbd614;
}

.igArrows {
    float: right;
}

.igTitle > span {
    background: #bbd614;
    display: inline-block;
    padding: 5px 15px;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
}

.igTitle > span:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-right: 25px solid transparent;
    border-bottom: 36px solid #bbd614;
    position: absolute;
    top: 0;
    right: -25px;
}

.igArrows > span {
    border: 1px solid #ddd;
    padding: 5px;
    color: #57c1e8;
}

.igArrows > span:hover {
    background: #57c1e8;
    border: 1px solid #57c1e8;
    color: #fff;
    cursor: pointer;
}

.igItem > .imgs > a {
    display: block;
    position: relative;
	height: 100%;
}

.imgs span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    font-size: 50px;
    color: #cbe1ea;
}

/* .igItem:hover > .imgs span  {
	color: #fff;
} */

.igItem > .imgs > a > img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

.igItem > .imgs > a > img:last-child {
    opacity: 0;
}

.igItem:hover > .imgs > a > img:last-child {
    opacity: 1;
}

.igItem:hover > .imgs > a > img:first-child {
    opacity: 0;
}

.igItem {
    width: 300px;
    float: left;
    margin-right: 15px;
    border: 2px solid #fff;
}

.igGroup:after {
    content: ' ';
    display: block;
    clear: both;
}

.igItem > .imgs {
    height: 293px;
    padding: 3px 3px 0px;
}

.object {
    font-size: 12px;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.igItem > .toCart {
    width: 50px;
    float: left;
    height: 100px;
    background: #f6f6f6;
    margin-right: 2px;
    text-align: center;
    line-height: 100px;
    font-size: 18px;
    cursor: pointer;
}

.igItem > .info {
    background: #f6f6f6;
    padding: 10px 20px;
    font-weight: bold;
    width: -webkit-calc(100% - 52px);
    width: -moz-calc(100% - 52px);
    width: calc(100% - 52px);
    float: left;
}

.igItem > .info > .price {
    font-size: 20px;
    line-height: 32px;
    color: #5a5a5a;
}

.igGroup {
    padding: 15px 0;
    max-width: 100%;
    overflow: hidden;
}

.igItem > .info > .name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* .igItem:hover > .imgs {
    background: #fe773a;
} */

.igItem:hover > .toCart {
    background: #fe773a;
    color: #fff;
}

/* .igItem:hover > .info > .price {
    color: #fff;
} */

.igArrows > span.disable {
    color: #ddd;
    cursor: default;
}

/* .igArrows > span.disable:hover {
    background: transparent;
    border-color: #ddd;
} */

.textArea {
    font-size: 16px;
    line-height: 28px;
    margin: 70px 0;
    padding-bottom: 20px;
    /* border-bottom: 1px solid #ddd; */
}

.taTitle {
    border-bottom: 2px solid #57c1e8;
    line-height: 24px;
    margin-bottom: 30px;
}

.taTitle > span {
    background: #57c1e8;
    display: inline-block;
    padding: 5px 15px;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
}

.taTitle > span:before {
    content: ' ';
    display: block;
    width: 0;
    height: 0;
    border-right: 25px solid transparent;
    border-bottom: 36px solid #57c1e8;
    position: absolute;
    top: 0;
    right: -25px;
    z-index: 10;
}

.miniBlog {
    margin: 50px 0;
}

.mbTitle {
    border-bottom: 2px solid #fe773a;
    line-height: 24px;
    margin-bottom: 30px;
}

.mbTitle > span {
    background: #fe773a;
    display: inline-block;
    padding: 5px 15px;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
}

.mbTitle > span:before {
    content: ' ';
    display: block;
    width: 0;
    height: 0;
    border-right: 25px solid transparent;
    border-bottom: 36px solid #fe773a;
    position: absolute;
    top: 0;
    right: -25px;
    z-index: 10;
}

.mBlogs .blog {
    width: 30%;
    margin-right: 5%;
    float: left;
}

.mBlogs .blog:last-child {
    margin-right: 0;
}

.blog > .date {
    width: 70px;
    float: left;
    margin-right: 15px;
    background: #57c1e8;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 8px;
    font-size: 11px;;
}

.blog > .date > .day {
    font-size: 28px;
    padding: 7px 0 12px;
    border-bottom: 1px solid #fff;
    margin-bottom: 5px;
}

.nmContent {
    width: -webkit-calc(100% - 85px);
    width: -moz-calc(100% - 85px);
    width: calc(100% - 85px);
    float: left;
	padding-right: 25px;
}

.nmContent > .mbTitle {
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: #adc70a;
}

.nmContent > p > a {
    font-weight: bold;
}

.mBlogs .slDotsSingle {
    border-color: #fe773a;
}

.mBlogs .slDotsSingle.active {
    background: #fe773a;
}

.mBlogs .slDotsSingle:hover {
    background: #adc70a;
    border-color: #adc70a;
}

.mBlogs {
    position: relative;
}

.ftr {
    background: #57c1e8;
    padding: 20px;
}

.snArea {
    width: 50%;
    float: left;
}

.snArea > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.snArea > ul > li {
    display: inline-block;
}

.snArea > ul > li > a {
    display: block;
    width: 40px;
    height: 40px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    text-align: center;
    line-height: 37px;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
}

.snArea > ul > li > a:hover {
    border-color: #ffffff;
    color: #57c1e8;
    background: #ffffff;
}

.pp {
    width: 50%;
    float: left;
    text-align: right;
    padding: 9px 20px 0;
}

.copyright {
    margin: 20px 0;
    text-align: center;
    color: #a2a2a2;
}

.account {
    margin: 35px 0;
}

.paTitle {
    font-size: 32px;
    margin-bottom: 30px;
}


.pSide {
    float: left;
    width: 300px;
    margin-right: 25px;
}

.iSide {
    float: left;
    width: calc(100% - 325px);
    width: -webkit-calc(100% - 325px);
    width: -moz-calc(100% - 325px);
}

.userPhoto {
    text-align: center;
    position: relative;
    font-size: 65px;
    color: #cacaca;
    line-height: 300px;
    height: 300px;
    /* border: 1px solid #ddd; */
}

.uName {
    font-size: 22px;
    color: #7b7b7b;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

ul.uInfo {
    margin: 25px 0;
    padding: 10px 20px;
    list-style: none;
    background: #f6f6f6;
}

ul.uInfo > li {
    padding: 5px 0;
}

.uName > span {
    color: #b6bd00;
    float: right;
    font-size: 18px;
    cursor: pointer;
    line-height: 24px;
}

.userPhoto > img {
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

.userPhoto > span.fa-search-plus {
	position: absolute;
    top: 0;
    left: 0px;
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 300px;
    color: rgba(248, 249, 239, 0.42);
    background: rgba(34, 41, 53, 0.45);
    font-size: 50px;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.userPhoto:hover > span.fa-search-plus {
    opacity: 1;
}

ul.share {
    margin: 20px 0;
    padding: 0;
    list-style: none;
}

ul.share > li {
    float: left;
    width: 33.333333%;
    padding: 0;
}

ul.share > li > a {
    display: block;
}

ul.share > li > a > span {
    display: block;
    background: #57c1e8;
    padding: 15px;
    text-align: center;
    color: #fff;
}

ul.share > li > a > span.fa-facebook {
    background: #3b5998;
}

ul.share > li > a > span.fa-twitter {
    background: #1da1f2;
}

ul.share > li > a > span.fa-google-plus {
    background: #dd5044;
}

ul.roundInfo {
    margin: 50px 0 20px;
    text-align: center;
    list-style: none;
    padding: 0;
}

ul.roundInfo > li {
    width: 33.33%;
    float: left;
    padding: 10px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    color: #949494;
}

ul.roundInfo > li > span {
    width: 100px;
    height: 100px;
    border: 2px solid #b7bd06;
    display: block;
    margin: 0 auto 10px;
    border-radius: 50%;
    line-height: 98px;
    font-size: 26px;
    color: #9a9a90;
}

.liTitle {
    font-size: 22px;
    color: #7b7b7b;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin: 30px 0 20px;
}

.liTitle > span {
    color: #b6bd00;
    font-size: 18px;
    cursor: pointer;
    line-height: 24px;
    margin: 0 10px;
}

.tbl {
    margin: 20px 0;
    display: table;
}

.tr {
    display: table-row;
}

.th {
    display: table-cell;
    border-bottom: 2px solid #ddd;
    padding: 10px 10px!important;
    color: #777;
    font-weight: bold;
    font-size: 13px;
}

.td {
    display: table-cell;
    padding: 15px 10px!important;
    color: #777;
    font-size: 13px;
}

.tbl a {
    color: #299CCE;
}

.tr:nth-child(even) > .td {
    background: #F7F8FA;
}

.td:last-child > a {
    margin: 0 5px;
    color: #769E26
}

.td:last-child {
    width: 120px;
}

.td:last-child > a:nth-child(3) {
    color: #299CCE;
}

.td:last-child > a:last-child {
    color: #CE1212;
}

.tr:hover > .td {
    background: #f4fbfd;
    color: #69aec7;
}

.tr.dev + .issues {
    display: none;
}

.tbl.tblDev {
    display: block;
}

.tblDev > .tr {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

.tblDev > .tr:first-child {
    border-bottom: 2px solid #ddd;
}

.tblDev > .tr > .th, .tblDev > .tr > .td {
    display: block;
    border: none;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.tblDev > .tr > .th.w100, .tblDev > .tr > .td.w100 {
    width: 120px;
    -webkit-box-flex: none;
    -moz-box-flex: none;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
}

.tr:after {
    content: ' ';
    display: block;
    clear: both;
}

.tblDev > .tr.issues {
    background: #F2F3F5;
    color: #7C818A;
    font-size: 13px;
    padding: 10px 20px;
}

.issue > .is {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.issue {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    width: 100%;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.issue > .iId {
    min-width: 40px;
}

.issue > .iAuthor {
    width: 200px;
    font-weight: bold;
    padding: 0 0 0 5px;
}

.isOpen {
    cursor: pointer;
    font-size: 10px;
    padding: 5px;
    color: #A9A9A9;
}

.tr.dev > .td > .isOpen {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.tr.dev.open > .td > .isOpen {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
}

.isDate {
    width: 150px;
    padding: 0 5px;
}

.tblDev > .tr > .th.w10, .tblDev > .tr > .td.w10 {
    width: 100px;
    flex: none;
    -webkit-box-flex: 0;
}

.issue.head > div {
    font-weight: bold;
}

.issue.head {
    border-width: 2px;
}

.account .tabs > ul {
    margin-top: -20px;
}

.shareText {
    margin: 20px 0;
    background: #f6f6f6;
    padding: 15px 20px;
}

.nvg > div > a > img {
    height: 0;
	width: 0;
    float: left;
	opacity: 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.fixed > .nvg > div > a > img {
    height: 35px;
	width: auto;
	opacity: 1;
}

.stPaid {
    background: #bbc014;
    color: #fff;
    padding: 3px 10px;
    border-radius: 2px;
}

.stUnpaid {
    background: #ff5406;
    color: #fff;
    padding: 3px 10px;
    border-radius: 2px;
}

.mSec {
    margin: 50px auto 30px;
}

.lGroup {
    margin: 10px;
}

.lGroup:after {
	content: ' ';
	display: block;
	clear: both;
}

.lGroup > span {
	display: block;
    float: left;
    width: 42px;
    height: 42px;
    background: #ffffff;
    border: 1px solid #30afde;
    border-right: none;
    border-radius: 3px 0 0 3px;
    text-align: center;
    line-height: 42px;
    font-size: 18px;
    color: #329fc7;
}

.lGroup > input {
    width: calc(100% - 42px);
    height: 42px;
    border: 1px solid #30afde;
    border-left: none;
    border-radius: 0 3px 3px 0;
    padding: 3px 20px 3px 5px;
    background: #ffffff;
    font-size: 14px;
	color: #777;
}

.lGroup > button, .btnReg {
    background: #28abdc;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    border-color: #57c1e8;
}

.lGroup > button:hover, .btnReg:hover {
    background: #219ecc;
}

.login > .mdl > .mdlBody {
    background: #57c1e8;
}

.login > .mdl > .mdlTitle {
    background: #30afde;
    color: #fff;
    padding: 25px 45px 25px 30px;
}

.orReg {
    margin: 10px;
    text-align: center;
    position: relative;
}

.orReg > span {
    color: #fff;
    display: inline-block;
    margin: 0 auto 10px;
    background: #57c1e8;
    position: relative;
    padding: 0px 10px;
}

.orReg:before {
	content: ' ';
	display: block;
	width: 100%;
	height: 1px;
	background: rgba(255, 255, 255, 0.37);
	position: absolute;
	top: 12px;
	left: 0;
}


.iGroup.fw > label {
    width: 100%;
	float: none;
	display: block;
}

.iGroup.fw > input {
	width: 100%;
}

.iGroup.fw > textarea {
    width: 100%;
    max-width: 100%;
    min-height: 200px;
}

.iGroup.fw > label:after {
	content: ' ';
	display: block;
	clear: both;
}

.reg .iGroup {
    border-bottom: none;
    padding: 5px 20px;
}

.reg > .mdl > .mdlBody {
    background: #f6f6f6;
}

.reg > .mdl > .mdlTitle {
    background: #30afde;
    color: #ffffff;
    padding: 25px 45px 25px 30px;
}

.reg .lGroup {
    margin: 10px 20px;
}

.reg .iGroup.fw > label {
    padding: 0 5px;
}

.category {
    margin: 70px 0 50px;
}

.category {
    margin: 70px 0 50px;
}

.category .igItem {
    width: 278px;
    margin-bottom: 15px;
}

.category .igItem:nth-child(4n) {
    margin-right: 0;
}

.category .igItem > .imgs {
	height: 271px;
}

.itemPhotos > img {
    max-width: 100%;
    cursor: pointer;
}

.itemPhotos {
    border: 1px solid #ddd;
	line-height: 0;
}

.itemPhotosSet:after {
	content: ' ';
	display: block;
	clear: both;
}

.itemPhotosSet .igItem {
	width: 75px;
	float: left;
	border: 1px solid #ddd;
	line-height: 0;
}

.itemPhotosSet img {
    max-width: 100%;
	line-height: 0;
}

.itemPhotosSet {
    margin-top: -30px;
}

.itemPhotosSet .igArrows {
    margin-top: 15px;
}

.itemPhotosSet .igItem:last-child {
	margin-right: 0px;
}

.photoWrap > span.fa.fa-chevron-right {
    top: 50%;
}

.photoWrap > span.fa.fa-chevron-left {
    top: 50%;
    left: 25px;
}

.photoWrap > span.fa.fa-spinner {
    top: 50%;
    left: 50%;
    width: 25px;
	display: none;
}

.cName {
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
}

.iPrice {
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    margin: 20px 10px;
	float: right;
}

ul.det {
    margin: 20px 10px;
    padding: 10px;
    list-style: none;
    background: #f6f6f6;
}

ul.det > li {
    float: left;
    width: 50%;
}

ul.det:after {
	content: ' ';
	display: block;
	clear: both;
}

.iText {
    margin: 10px;
    font-size: 16px;
    line-height: 28px;
}

.itTitle {
    color: #57c1e8;
    font-size: 24px;
    margin: 25px 10px 15px;
}

.iPrice > span:first-child {
    background: #fe7b40;
    border-radius: 2px 0 0 2px;
    padding: 13px 17px;
    display: block;
    float: left;
    margin-right: 2px;
}

.iPrice > span:last-child {
    background: #b6bd00;
    border-radius: 0 2px 2px 0;
    padding: 13px 17px;
    display: inline-block;
    cursor: pointer;
}

.iPrice > span:last-child:hover {
    background: #a5ab0a;
}

.breads {
    margin: 10px 0 30px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}

.breads > a {
    margin: 10px;
}

.item .paTitle {
    margin: 5px 10px 30px;
}

.bBlog > .paTitle {
    margin-bottom: 50px;
}

.bBlog .blog {
	width: 49%;
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 35px;
}

.bBlog .blog:before {
	content: ' ';
	position: absolute;
	bottom: 0;
	left: 10%;
	width: 80%;
	height: 1px;
	background: #ddd;
}

ul.ss {
    float: right;
    list-style: none;
    padding: 0;
    margin: 10px 30px;
}

ul.ss > li {
    float: left;
    width: 50px;
    padding: 0;
}

ul.ss > li > a {
    display: block;
}

ul.ss > li > a > span {
    display: block;
    background: #57c1e8;
    padding: 15px;
    text-align: center;
    color: #fff;
}

ul.ss > li > a > span.fa-facebook {
    background: #3b5998;
}

ul.ss > li > a > span.fa-twitter {
    background: #1da1f2;
}

ul.ss > li > a > span.fa-google-plus {
    background: #dd5044;
}

.bTitle {
    font-size: 32px;
    margin: 0 0 20px;
    display: block;
    color: #27b7c7;
}

.bTitle > .bDate {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 20px 0 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    color: #777;
}

.bText {
	font-size: 18px;
    line-height: 36px;
}

.cBlog {
    margin-top: 20px;
}

.cBlog ul.ss {
    margin: 30px 0;
}

.bBlog {
    margin: 45px 0;
}

.bBlog > .breads {
    margin-bottom: 40px;
}

.cItems {
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.cItem:after {content: ' ';display: block;clear: both;}

.cItem {
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    display: flex;
}

.ciPhoto {
    width: 150px;
    line-height: 0;
    position: relative;
}

.ciPhoto > span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    color: #b0d2de;
}

.ciPhoto > img {
    max-width: 100%;
}

.cItem > div {
    border-right: 1px solid #ddd;
}

.ciName {
    flex: 1;
    padding: 0 15px;
	line-height: 150px;
}

.ciName > a {
    display: inline-block;
    line-height: 24px;
	text-decoration: none;
}

.ciQnt {
    width: 50px;
    text-align: center;
    line-height: 150px;
}

.ciPrice {
    width: 100px;
    text-align: center;
    line-height: 150px;
}

.ciDel {
    width: 30px;
    text-align: center;
    line-height: 150px;
    border-right: none!important;
    color: #c31b1b;
}

.ciDel > span {
    cursor: pointer;
}

.ciItemTotal {
    float: right;
    width: 400px;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    margin-top: 20px;
}

.ciItemTotal > div {
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.ciTotal, .ciTPrice {
	float: left;
    width: 55%;
    border-right: 1px solid #ddd;
    text-align: right;
    padding: 10px 15px;
}

.ciItemTotal > div:after, .ciItemTotal:after {
	content: ' ';
	display: block;
	clear: both;
}

.ciTPrice {
    width: auto;
    border-right: none;
}

.cItem.cHdr {
    height: 35px;
}

.cItem.cHdr > div {
    line-height: 35px;
}

.cItem.cHdr > div:first-child {
    text-align: center;
}

.btnClear {
    margin: 15px;
    width: auto;
    padding: 10px 50px;
    background: #57c1e8;
    border-color: #57c1e8;
    color: #fff;
}

.btnClear:hover {
    background: #3dabd4;
}

.btnClear:active {
    padding: 11px 50px 9px;
}

.orderBtn {
    text-align: right;
    margin: 20px 0 0;
}

.orderBtn > button {
    margin-right: 0;
    margin-bottom: 0;
}

.orderLogin {
    background: #f6f6f6;
    padding: 20px;
    margin-top: 35px;
}

.igItem:last-child {
    margin-right: 0;
}

.bText img {
	max-width: 100%;
	height: auto;
}

.noContent {
    text-align: center;
    margin: 20px;
    color: #797373;
    background: #F7F8FA;
    padding: 10px 20px;
}

.igItem > .imgs.one > a > img:last-child {
    opacity: 1;
}

.snArea > ul > li > a > span {
    line-height: 38px;
}

.itemPhotos > span {
    width: 100%;
    text-align: center;
    height: 293px;
    font-size: 50px;
    line-height: 293px;
    color: #9ad2e6;
}

.hCart > div:first-child > i {
    position: absolute;
    top: 24px;
    left: 25px;
    background: #b6bd00;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    padding: 0px 8px;
    display: inline-block;
    border-radius: 8px;
    line-height: 18px;
    font-style: normal;
}

.noCart {
    margin: 50px auto;
    background: #f6f6f6;
    padding: 15px 30px;
}

.igItem > .toCart > span {
    width: 100%;
    line-height: 75px;
    height: 100%;
}

.nItems {
    display: none;
}

.nCart > .nItems {
    display: block;
}

.nCart > .cartItems, .nCart > .cartSubtotal {
    display: none;
}

.loginPage {
    margin: 50px auto;
}

.noLogin {
    background: #f6f6f6;
    padding: 15px 30px;
    margin-bottom: 50px;
}

.loginPage > .loginForm {
    background: #57c1e8;
    padding: 20px;
    width: 500px;
    margin: 0 auto;
    box-shadow: 1px 1px 0px #80abbb;
}

.hdn {
    display: none;
}

.btnLoad {
    background: #ff7536;
    margin: 30px auto 0;
    width: 300px;
    color: #fff;
    border-radius: 0;
    border: none;
}

.btnLoad:hover {
    background: #f56626;
}

.preloader {
    width: 100%;
    height: 232px;
    line-height: 232px;
    text-align: center;
    font-size: 50px;
    color: #fff;
    display: none;
}

.preloader.blue {
    background: #57c1e8;
}

.loginPage > .preloader.blue {
    background: #57c1e8;
    padding: 20px;
    width: 500px;
    margin: 0 auto;
    box-shadow: 1px 1px 0px #80abbb;
}

.w50 {
    width: 50%;
    float: left;
}

.regSteps {
    text-align: center;
    margin: 20px;
}

.regSteps > span {
    display: inline-block;
    width: 38px;
    height: 38px;
    background: #c1c1c1;
    color: #fff;
    border-radius: 50%;
    line-height: 38px;
    font-size: 18px;
    position: relative;
    z-index: 2;
	cursor: pointer;
}

.regSteps > span:first-child {
    position: relative;
    margin-right: 100px;
    background: #28abdc;
}

.regSteps > span:first-child:before {
	content: ' ';
	width: 102px;
	position: absolute;
	top: 15px;
	left: 38px;
	background: #c1c1c1;
	height: 8px;
	z-index: 0;
}

 .next .regSteps > span:last-child {
    background: #28abdc;
}

.next .regSteps > span:first-child:before {
    background: #28abdc;
    left: 37px
}

.step.sStep {
    display: none;
}

.next .step.fStep {
    display: none;
}

.next .step.sStep {
    display: block;
}

.iGroup.fw > textarea[name="address"] {
    min-height: 70px;
}

.hContacts {
    float: right;
    font-size: 22px;
    color: #bac570;
    text-align: center;
    padding: 10px 20px;
}

.hcText {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #adadad;
}

.iGroup .sfWrap {
    float: left;
    width: 60%;
}

.iGroup.fw .sfWrap {
    float: none;
    width: 100%;
}

.vAlign {
    display: table-cell;
    vertical-align: middle;
	padding: 0;
	width: 100vw;
	height: 100vh;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #333333!important;
    background-color: #f0f2f5!important;
}

.offline {
    background: #fff;
    border: 1px solid #ddd;
    width: 50%;
    max-width: 100%;
    margin: 10px auto;
    padding: 20px;
	text-align: center;
}

.iGroup > .sWrap {
    width: 60%;
    float: left;
}

img {
    max-width: 100%;
}

.taTitle + div {
    height: 152px;
    overflow: hidden;
	line-height: 24px;
}

.taTitle + div h1, .taTitle + div h2, .taTitle + div h3 {
	line-height: 28px;
}

.taTitle + div h1, .taTitle + div h2, .taTitle + div h3, .taTitle + div p {
    margin: 0;
}

.moreText {
    color: #57c1e8;
    font-weight: bold;
    text-align: right;
    margin: 30px 30px 0px;
    cursor: pointer;
}

#slider .slDots {
    bottom: 50px;
}

#slider .slItem .ctnr {
    display: flex;
    height: 100%;
    align-items: center;
}

#slider .slImage {
    width: 25%;
}

#slider .slText {
    position: static;
	transform: none;
	-webkit-transform: none;
	-moz-transform: none;
	-o-transform: none;
	-ms-transform: none;
	text-align: left;
    padding: 0 0px 0 20px;
    color: #fff;
    font-size: 28px;
    line-height: 32px;
    flex: 1;
}

.slider#slider  [class*="ctrl"] {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.slider#slider:hover [class*="ctrl"] {
    opacity: 1;
}

#slider .image_right .slImage {
    order: 2;
}

#slider .image_center .slImage {
    width: 100%;
    text-align: center;
    height: 50%;
}

#slider .image_center .ctnr {
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#slider .slImage img {
    max-height: 100%;
}

#slider .image_center .slText {
	flex: none;
	max-height: 50%;
}

.phoneZone {
    width: 70%;
    float: left;
    position: relative;
	min-height: 43px;
}

.sPhone > .sWrap {
    width: 15%;
    float: left;
}

.sPhone > input {
    width: 20%;
    float: left;
    padding: 10px;
    height: 36px;
    border-radius: 3px;
    border: 1px solid #ddd;
    margin-left: 5px;
	color: #5E6573;
}

.sPhone > .cbWrap {
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}

.sPhone {
    width: -webkit-calc(100% - 25px);
    width: -moz-calc(100% - 25px);
    width: calc(100% - 25px);
    margin-bottom: 10px; 
    position: relative;
    z-index: 1;
}

.sPhone.act {
    z-index: 10;
}

.sPhone:after {
    content: ' ';
    display: block;
    clear: both;
}

.wr {
    display: block;
    float: left;
    height: 37px;
    line-height: 37px;
    margin-left: 5px;
    font-size: 18px;
    color: #777;
}

.plusNew {
    color: #86b336;
    font-size: 18px;
    line-height: 36px;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 0px;
}

.sPhone span.rd {
    float: left;
    line-height: 36px;
    margin-right: 9px;
    font-size: 16px;
    color: #d80808;
    cursor: pointer;
}

.sPhone span.rd.hide {
    color: transparent;
	cursor: default;
}

.hPhone {
    width: calc(100% - 25px);
}

.hPhone > div {
    float: left;
    font-size: 11px;
    color: #969696;
	text-align: center;
}

.hPhone:after {
	content: ' ';
	display: block;
	clear: both;
}

.hPhone > div:nth-child(1) {
    margin-left: 20px;
    width: 15%;
}

.hPhone > div:nth-child(2) {
    margin-left: 17px;
    width: 20%;
}

.hPhone > div:nth-child(3) {
    margin-left: 17px;
    width: 20%;
}

.hPhone > div:nth-child(4) {
    margin-left: 5px;
    width: 20%;
}

.hPhone > div:nth-child(5) {
    margin-left: 5px;
    width: 10%;
}

.isOpen.hide {
    color: transparent;
}

.fw > .sWrap {
    width: 100%;
}

.inf {
    font-size: 24px;
    font-weight: bold;
    color: #88b4c7;
}

.complited {
    color: #dc4747;
    font-weight: bold;
    font-family: 'FontAwesome', 'Oxygen', Arial, sans-serif;
}

.ncomplited {
    color: #449715;
    font-weight: bold;
    font-family: 'FontAwesome', 'Oxygen', Arial, sans-serif;
}

.complited:before, .ncomplited:before {
    margin-right: 5px;
    font-size: 15px;
}

.miniRound {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    float: left;
    line-height: 45px;
    text-align: center;
    color: #73bad8;
    font-size: 16px;
    background: #f7f8fa;
}

ul.refferals {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.refferals > li > a > .miniRound {
    margin: -10px 10px 10px;
}

ul.refferals > li {
    width: 50%;
    float: left;
}