@media (max-width: 1400px) {
	[class^="col-"] {
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
		max-width: 100%;
	}

}

@media (max-width: 1000px) {
	.flex-grid {
		flex-direction: column;
	}

	.flex-grid > div {
		margin-right: 0;
	}
	nav {
		display: none;
		width: 100%;
		top: 0;
		position: fixed;
		height: 100%;
		z-index: 999999;
	}
/* 	nav {
		width: 60px;
	}
	nav ul a {
		padding: 15px 55px;
	}
	nav .profile > img, nav .profile > p, nav .profile > a, nav > .search > input, nav ul span {
		display: none;
	} */
}

@media (max-width: 800px) {
	main {
		padding: 10px;
	}
	main > header {
		margin: -10px -10px 10px -10px;
		height: 60px;
		padding: 0 10px;
		line-height: 57px;
		font-size: 20px;
	}
}