<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>New user on Your Company</title>
</head>
<body style="background: #f6f6f6; text-align: center;">
    <div style="box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; width: 600px; max-width: 100%; background: #ffffff; border: 1px solid #ddd; padding: 20px; font-family: monospace; font-size: 14px; line-height: 24px; color: #828282; text-align: center; margin: 30px auto;">
        <div style="margin: -20px -20px 0; padding: 20px;">
            <a href="http://tfd-dev.yoursite.com/">
                <img src="http://tfd-dev.yoursite.com/templates/site/img/logo.svg" style="width: 60%; margin: 25px 0;">
            </a>
        </div>
        <div style="padding: 0 30px 30px;">
            <p>Welcome to <b>Your Company inc</b> platform.</p>
            <p>Please use the details below for entrance to new platform:</p>
            <div style="box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; width: 300px; background: #f1f8fb; padding: 30px; color: #768b94; text-align: left; max-width: 100%; margin: 30px auto 0;">
                Link: <a href="https://yoursite.com/admin/" style="color: #0e92d4;">Click here</a><br>
                Login: admin<br>
                Password: 123
            </div>
        </div>
    </div>
</body>
</html>