<!DOCTYPE html>
<html lang="zxx">
<head>
  <title>Computer-answer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <link rel="stylesheet" href="css/style.css" type="text/css"/>
</head>
<body>
<div class="container">
  <header class="header wrap">
    <div class="header-top">
      <div class="header-button">
        <a href="#" class="header-button-link">
          <span></span>
          <span></span>
          <span></span>
        </a>
      </div>
      <div class="header-logo">
        <a href="#"><img src="img/header-logo.svg" alt=""></a>
      </div>
      <nav class="header-nav menu">
        <ul class="menu-block">
          <li class="menu-dropdown">
            <a class="active" href="#">Locations</a>
            <img src="img/arrow-bottom.svg" alt="">
            <ul class="submenu">
              <li><a href="#">Schenectady, NY</a></li>
              <li><a href="#">Schenectady, NY</a></li>
              <li><a href="#">Schenectady, NY</a></li>
              <li><a href="#">Schenectady, NY</a></li>
              <li><a href="#">Schenectady, NY</a></li>
            </ul>
          </li>
          <li class="menu-dropdown">
            <a href="#">Services</a>
            <img src="img/arrow-bottom.svg" alt="">
            <ul class="submenu">
              <li><a href="#">Schenectady, NY</a></li>
              <li><a href="#">Schenectady, NY</a></li>
              <li><a href="#">Schenectady, NY</a></li>
              <li><a href="#">Schenectady, NY</a></li>
              <li><a href="#">Schenectady, NY</a></li>
            </ul>
          </li>
          <li><a href="#">Store</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">Blog</a></li>
          <li class="menu-dropdown">
            <a href="#">About us</a>
            <img src="img/arrow-bottom.svg" alt="">
            <ul class="submenu">
              <li><a href="#">Schenectady, NY</a></li>
              <li><a href="#">Schenectady, NY</a></li>
              <li><a href="#">Schenectady, NY</a></li>
            </ul>
          </li>
          <li><a href="#">Self Service</a></li>
        </ul>
      </nav>
      <div class="header-tel">
        <a href="tel:1-866-488-2806">1-866-488-2806</a>
        <div class="header-call">
          <button onclick="smoothScroll('contact')">Qet quote</button>
        </div>
      </div>
      <div class="header-cart">
        <a href="#">Sign in</a>
        <a href="#"><img src="img/cart.svg" alt="">
          <ul class="header-basket">
            <li class="dropdown">
              <span>Subtotal:</span>
              <span class="header-price">$0</span>
            </li>
          </ul>
        </a>

      </div>
    </div>
    <div class="header-bottom">
      <div class="header-search">
        <button><img src="img/search.svg" alt=""></button>
        <input type="search" placeholder="Enter your zip or adress" >
      </div>

    </div>
  </header>

<div class="breadcrumps wrap">
  <ul>
    <li><a href="#">Main</a></li>
    <li><a href="#">Store</a></li>
    <li class="active"><a href="#">Refurbished PCs</a></li>
  </ul>
</div>

  <div class="request wrap">
    <button class="request-title" onclick="showFilter()">Choice category</button>
  </div>


<section class="category">
  <h2 class="category-title">BUSINESS IT TIPS</h2>

  <div class="category-block block wrap">
    <div class="category-block-left">
      <img class="category-close" src="img/close.svg" alt="">
      <div>
        <h3 class="block-title">Categories:</h3>
        <ul>
          <li><a href="#">Apple</a></li>
          <li class="active"><a href="#">Business IT tips</a></li>
          <li><a href="#">Business tips</a></li>
          <li><a href="#">Cloud computing</a></li>
          <li><a href="#">Computer Maintenance Tips</a></li>
          <li><a href="#">Data Recovery & Loss Prevention</a></li>
          <li><a href="#">iPhone</a></li>
          <li><a href="#">Rumors and Leaks</a></li>
          <li><a href="#">Viruses & Cyber Threats</a></li>
          <li><a href="#">Computer Repair</a></li>
          <li><a href="#">IT Support</a></li>
          <li><a href="#">Networking</a></li>
        </ul>
      </div>
    </div>
    <div class="category-block-right">
      <div class="product">
        <div class="product-item box box-category">
            <div class="box-block">
              <a href="#">
                <div><img src="img/img-33.png" alt=""></div>
              </a>
            </div>
            <div class="box-block">
              <h4 class="box-title box-title-category"><a href="#">HP (Hewlett-Packard) Pavilion s3720y</a></h4>
              <div class="box-metka">
                <img src="img/metka.svg" alt=""><a href="#">Business IT tips</a><a href="#">IT Support </a>
              </div>
              <p class="box-text box-text-category">Can IT Support Really Help My Business? In his groundbreaking bestseller that many people actually said went into strange directions at many points “The World is Flat”, author Thomas L. Friedman did not think twice before ...</p>
              <p class="box-date">2019-03-15</p>
            </div>
        </div>
        <div class="product-item box box-category">
          <div class="box-block">
            <a href="#">
              <div><img src="img/img-34.png" alt=""></div>
            </a>
          </div>
          <div class="box-block">
            <h4 class="box-title box-title-category"><a href="#">Malware Removal 101: Quick & Easy Guide to Viruses</a></h4>
            <div class="box-metka">
              <img src="img/metka.svg" alt=""><a href="#">Business IT tips</a><a href="#">Cloud computing</a>
              <a href="#">Computer Maintenance Tips</a><a href="#">Data Recovery</a><a href="#">Loss Prevention</a>
            </div>
            <p class="box-text box-text-category">Why The Need for Data Security Solutions?Over the last decade or so, technology has witnessed tremendous growth to the extent that the technology used today is alien to anyone from the 20th century. It is only natural that the way in which...</p>
            <p class="box-date">2019-03-15</p>
          </div>
        </div>
        <div class="product-item box box-category">
          <div class="box-block">
            <a href="#">
              <div><img src="img/img-32.png" alt=""></div>
            </a>
          </div>
          <div class="box-block">
            <h4 class="box-title box-title-category"><a href="#">Understanding Data Security Solutions</a></h4>
            <div class="box-metka">
              <img src="img/metka.svg" alt=""><a href="#">Business IT tips</a><a href="#">Data Recovery</a>
              <a href="#">Loss Prevention</a>
            </div>
            <p class="box-text box-text-category">According to a survey by Gartner, DLP is one of the top priorities for organizations today. WHAT IS DLP? Data Loss Prevention is basically any process or solution which identifies the confidential data in an organization...</p>
            <p class="box-date">2019-03-15</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

  <footer class="footer">
    <div class="wrap">
        <div class="wrap-left">
          <p class="footer-text">2020 © Your Company. All Rights Reserved</p>
          <p class="footer-text">ERMS OF SERVICE | Devpartner</p>
        </div>
        <div class="wrap-right">
          <a href="#"><img src="img/twitter.svg" alt=""></a>
          <a href="#"><img src="img/instagram.svg" alt=""></a>
          <a href="#"><img src="img/facebook.svg" alt=""></a>
        </div>
    </div>

  </footer>
</div>
<a class="sckroll" onclick="backToTop()"><img src="img/scroll-top.svg" alt=""></a>
<div class="chat">
  <img class="chat-icon" src="img/chat.svg" alt="">

  <div class="chat-block">
     <span class="chat-title">Welcome</span>
     <img class="chat-close" src="img/chat-close.svg" alt="">
    <div class="chat-bottom">
      <div class="chat-hello">
        <div><img src="img/women.svg" alt=""></div>
        <p class="chat-text">Hello, me name is Ekaterina, and I will answer any of your questions</p>
      </div>
      <form class="chat-form">
        <input type="text" placeholder="Enter your name" required>
        <input type="email" placeholder="Enter your email" required>
        <input type="phone" placeholder="Enter your phone" required>
        <button type="submit">Start dialog</button>
      </form>
    </div>

  <div class="chat-dialog">
    <div class="chat-user">
      Hello, me name is Ekaterina, and I will answer any of your questions
    </div>
    <div class="chat-user">
      Hello, I want to ask one question.
    </div>
    <div class="chat-user">
      Your Company: Thank you for your patience, a technician will respond in approximately 60 seconds.
    </div>
    <div class="chat-send">
      <input type="text" placeholder="Write to us">
      <img src="img/strelka.svg" alt="">
    </div>
  </div>
  </div>

</div>

<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5DLhP5-D69v26AkzV2qrqaDMpl1nIGUk&callback=initMap"></script>
<script src="js/custom.js"></script>
</body>
</html>