* {
  outline: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

li {
  list-style: none; }

button {
  border: none;
  background: transparent;
  cursor: pointer; }

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url("../fonts/AvenirNextCyr-Light.eot");
  src: local("../fonts/Avenir Next Cyr Light"), local("../fonts/AvenirNextCyr-Light"), url("../fonts/AvenirNextCyr-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr-Light.woff") format("woff"), url("../fonts/AvenirNextCyr-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url("../fonts/AvenirNextCyr-Demi.eot");
  src: local("../fonts/AAvenir Next Cyr Demi"), local("../fonts/AAvenirNextCyr-Demi"), url("../fonts/AvenirNextCyr-Demi.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr-Demi.woff") format("woff"), url("../fonts/AvenirNextCyr-Demi.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url("../fonts/AvenirNextCyr-Medium.eot");
  src: local("../fonts/Avenir Next Cyr Medium"), local("../fonts/AvenirNextCyr-Medium"), url("../fonts/AvenirNextCyr-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr-Medium.woff") format("woff"), url("../fonts/AvenirNextCyr-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url("../fonts/AvenirNextCyr-Regular.eot");
  src: local("../fonts/Avenir Next Cyr Regular"), local("../fonts/AvenirNextCyr-Regular"), url("../fonts/AvenirNextCyr-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr-Regular.woff") format("woff"), url("../fonts/AvenirNextCyr-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

html {
  scroll-behavior: smooth; }

body {
  font-family: 'Avenir Next Cyr', sans-serif;
  font-weight: 400; }

.container {
  min-width: 320px;
  max-width: 100%;
  padding: 0 0;
  box-sizing: border-box;
  margin: 0 auto; }

.wrap {
  min-width: 320px;
  max-width: 1350px;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 0 auto; }

img {
  max-width: 100%;
  height: auto; }

.button {
  display: block;
  background: linear-gradient(179.5deg, #1593F8 1.89%, #8DCCFF 98.11%);
  border-radius: 5px;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  padding: 17px 82px; }

input {
  font-family: 'Avenir Next Cyr', sans-serif;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #A6A6A6;
  font-weight: 300;
  font-size: 18px;
  color: #bcbcbc;
  padding-left: 24px;
  padding-right: 15px;
  box-sizing: border-box;
  padding-bottom: 5px; }
  input::placeholder {
    opacity: 1;
    font-weight: 300;
    font-size: 18px;
    color: #bcbcbc; }

.title {
  text-align: center;
  font-weight: 700;
  font-size: 100px;
  color: #545454;
  opacity: 0.08;
  text-shadow: 0 5px 20px rgba(16, 70, 114, 0.2);
  text-transform: uppercase; }
  @media (max-width: 767px) {
    .title {
      font-size: 55px; } }
  @media (max-width: 370px) {
    .title {
      font-size: 50px; } }

.sub-title {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  color: #545454;
  text-shadow: 0 5px 20px rgba(16, 70, 114, 0.2);
  text-transform: uppercase;
  transform: translateY(-52px); }
  @media (max-width: 767px) {
    .sub-title {
      font-size: 28px;
      transform: translateY(-35px); } }
  @media (max-width: 370px) {
    .sub-title {
      font-size: 20px;
      transform: translateY(-25px); } }
  .sub-title span {
    color: #ff5722; }

.header {
  padding-top: 30px; }
  .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header-nav {
    flex-basis: 47%; }
    @media (max-width: 1366px) {
      .header-nav {
        flex-basis: 55%; } }
    @media (max-width: 991px) {
      .header-nav {
        display: none; } }
  @media (max-width: 991px) {
    .header-nav.active {
      display: block;
      position: fixed;
      top: 0;
      width: 100%;
      bottom: 0;
      left: 0;
      right: 0;
      background: url("../img/background-menu.jpg") no-repeat;
      background-size: cover;
      z-index: 999; }
      .header-nav.active ul {
        width: 100%; }
      .header-nav.active a {
        display: block;
        padding: 13px 0 13px 100px;
        color: #fff;
        transition-property: color;
        transition-duration: 300ms; }
        .header-nav.active a:hover {
          display: block;
          color: #048AF5;
          background: radial-gradient(102.17% 4020.25% at 102.17% 100%, rgba(255, 255, 255, 0.49) 0%, rgba(255, 255, 255, 0.79) 49.48%, rgba(255, 255, 255, 0.54) 100%); } }
    @media (max-width: 991px) and (max-width: 370px) {
      .header-nav.active a {
        padding-left: 80px; } }
  @media (max-width: 991px) {
      .header-nav.active li {
        display: block;
        cursor: pointer;
        transition-property: background;
        transition-duration: 300ms; }
        .header-nav.active li:last-child {
          margin-bottom: 0; }
      .header-nav.active ul > li a {
        font-size: 22px;
        font-weight: 700; } }
  .header-nav.active .menu-sub.active {
    display: block; }
  .header-cart {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 991px) {
      .header-cart {
        flex-direction: column; } }
    .header-cart a:first-child {
      font-weight: 700;
      font-size: 20px;
      color: #1593F9; }
      @media (max-width: 1200px) {
        .header-cart a:first-child {
          font-size: 16px; } }
      @media (max-width: 991px) {
        .header-cart a:first-child {
          order: 2;
          margin-top: 10px;
          margin-left: 15px; } }
    .header-cart a:last-child {
      position: relative;
      box-shadow: 0 4px 20px rgba(55, 163, 250, 0.4);
      background: linear-gradient(177.74deg, #1593F8 1.89%, #8DCCFF 98.11%);
      border-radius: 50%;
      margin-left: 19px; }
      .header-cart a:last-child img {
        display: block; }
      .header-cart a:last-child:hover > .header-basket {
        display: block !important; }
  .header-tel {
    position: relative;
    top: 40px; }
    @media (max-width: 1200px) {
      .header-tel {
        top: 37px; } }
    @media (max-width: 991px) {
      .header-tel {
        display: none; } }
    .header-tel a {
      font-size: 20px;
      color: #545454;
      display: block;
      margin-bottom: 22px; }
      @media (max-width: 1200px) {
        .header-tel a {
          font-size: 16px; } }
  .header-basket {
    position: absolute;
    top: 65px;
    right: 15px;
    list-style: none;
    width: 403px;
    background: #fff;
    display: none;
    z-index: 9999;
    box-shadow: 0px 10px 50px rgba(0, 90, 163, 0.19);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 31px 30px 31px 40px; }
    .header-basket li {
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .header-basket span:first-child {
      font-size: 20px;
      color: #545454; }
    .header-basket span:last-child {
      font-weight: 700;
      font-size: 18px;
      color: #048AF5; }
  .header-bottom {
    display: flex;
    margin-left: 15.5%;
    margin-top: 12px; }
    @media (max-width: 1366px) {
      .header-bottom {
        margin-left: 12.5%; } }
    @media (max-width: 1200px) {
      .header-bottom {
        margin-left: 11.5%; } }
    @media (max-width: 991px) {
      .header-bottom {
        margin-left: 0; } }
  .header-search {
    flex-basis: 57%;
    display: flex; }
    @media (max-width: 1366px) {
      .header-search {
        flex-basis: 65%; } }
    @media (max-width: 1200px) {
      .header-search {
        flex-basis: 64%; } }
    @media (max-width: 991px) {
      .header-search {
        flex-basis: 100%;
        margin-top: 20px; } }
    .header-search button {
      position: relative;
      left: 15px; }
    @media (max-width: 576px) {
      .header-search input {
        font-size: 16px; }
        .header-search input::placeholder {
          font-size: 16px; } }
  @media (max-width: 1200px) {
    .header-logo img {
      width: 90px; } }
  @media (max-width: 1200px) {
    .header-logo img {
      width: auto; } }
  .header-call {
    background: linear-gradient(179.18deg, #1593F8 1.89%, #8DCCFF 98.11%);
    border-radius: 5px;
    padding: 16px 24px;
    width: 150px;
    box-sizing: border-box;
    text-align: center; }
    @media (max-width: 1200px) {
      .header-call {
        width: 120px; } }
    .header-call button {
      font-weight: 500;
      font-size: 20px;
      color: #fff; }
      @media (max-width: 1200px) {
        .header-call button {
          font-size: 16px; } }
  .header-button {
    display: none; }
    .header-button a {
      display: block;
      height: 35px;
      width: 37px;
      padding: 10px 15px;
      z-index: 2;
      overflow: hidden; }
      .header-button a span {
        background-color: #7D7D7D;
        height: 5px;
        width: 100%;
        display: block;
        margin: 6px 0;
        position: relative;
        transform-origin: 0;
        border-radius: 5px; }
    @media (max-width: 991px) {
      .header-button {
        display: block; } }
  .header-button.active {
    z-index: 9999;
    position: relative;
    top: -30px; }
    .header-button.active span {
      background-color: #fff;
      height: 3px; }
      .header-button.active span:first-child {
        transform: rotate(45deg); }
      .header-button.active span:nth-child(2) {
        visibility: hidden; }
      .header-button.active span:last-child {
        transform: rotate(-45deg);
        margin-top: 14px; }
    .header-button.active a {
      height: 30px;
      width: 36px; }

.menu-block {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 991px) {
    .menu-block {
      display: block;
      position: relative;
      z-index: 999;
      padding-top: 70px; } }
  .menu-block li a {
    color: #545454;
    font-size: 20px; }
    @media (max-width: 1200px) {
      .menu-block li a {
        font-size: 16px; } }
    .menu-block li a:hover {
      color: #FF5722; }
  .menu-block li .active {
    color: #FF5722; }
    @media (max-width: 991px) {
      .menu-block li .active {
        color: #fff; } }
  .menu-block li img {
    margin-left: 5px; }
    @media (max-width: 991px) {
      .menu-block li img {
        display: none; } }

.menu-dropdown {
  position: relative; }
  .menu-dropdown:hover .submenu {
    opacity: 1;
    visibility: visible;
    margin-top: 0; }

.menu .submenu {
  position: absolute;
  top: 35px;
  background: #fff;
  box-shadow: 0 10px 50px rgba(0, 90, 163, 0.19);
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
  width: 231px;
  box-sizing: border-box;
  margin-top: 20px;
  transition-duration: 0.3s;
  transition-property: visibility, opacity, margin-top; }
  @media (max-width: 991px) {
    .menu .submenu {
      display: none;
      position: relative;
      top: auto;
      box-shadow: none;
      background: transparent;
      width: 100%;
      visibility: visible;
      opacity: 1;
      margin-top: 0; } }
  .menu .submenu li {
    margin-bottom: 5px; }
    .menu .submenu li:last-child {
      margin-bottom: 0; }
    .menu .submenu li:hover {
      background: linear-gradient(90deg, rgba(254, 87, 35, 0.15) -2.38%, rgba(253, 87, 35, 0.58) 46.78%, rgba(255, 87, 34, 0.29) 103.68%); }
      @media (max-width: 991px) {
        .menu .submenu li:hover {
          background: transparent; } }
  .menu .submenu a {
    display: block;
    padding: 13px 31px; }
    @media (max-width: 991px) {
      .menu .submenu a {
        padding: 13px 0 13px 120px !important;
        font-weight: 400 !important; } }
    .menu .submenu a:hover {
      color: #fff; }
      @media (max-width: 991px) {
        .menu .submenu a:hover {
          display: block;
          color: #048AF5;
          background: radial-gradient(102.17% 4020.25% at 102.17% 100%, rgba(255, 255, 255, 0.49) 0%, rgba(255, 255, 255, 0.79) 49.48%, rgba(255, 255, 255, 0.54) 100%); } }

@media (max-width: 991px) {
  .menu .menu-dropdown.active .submenu {
    display: block; } }

.banner {
  margin-top: 64px;
  background: url("../img/banner.png") center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 150px;
  margin-bottom: 107px;
  padding-top: 12px;
  border-radius: 10px; }
  @media (max-width: 1366px) {
    .banner {
      margin-left: 20px;
      margin-right: 20px; } }
  @media (max-width: 768px) {
    .banner {
      margin-top: 40px;
      margin-bottom: 50px;
      background: url("../img/banner-mobile.jpg") no-repeat;
      background-position: right;
      overflow: hidden; } }
  @media (max-width: 576px) {
    .banner {
      background-size: contain;
      margin-top: 0;
      margin-bottom: 10px;
      padding-top: 0;
      padding-bottom: 80px;
      margin-left: 15px;
      margin-right: 15px; } }
  @media (max-width: 480px) {
    .banner {
      padding-bottom: 35px; } }
  @media (max-width: 440px) {
    .banner {
      padding-bottom: 10px;
      margin-bottom: 0; } }
  @media (max-width: 375px) {
    .banner {
      padding-bottom: 0; } }
  @media (max-width: 350px) {
    .banner {
      padding-bottom: 0;
      border-radius: 0;
      margin-left: 0;
      margin-right: 0; } }
  .banner-title {
    padding-top: 144px;
    margin-left: 146px;
    max-width: 593px;
    font-weight: 700;
    font-size: 45px;
    text-shadow: 0 5px 20px rgba(16, 70, 114, 0.2);
    color: #fff;
    line-height: 142.4%;
    margin-bottom: 27px; }
    @media (max-width: 1366px) {
      .banner-title {
        margin-left: 36px;
        font-size: 40px; } }
    @media (max-width: 992px) {
      .banner-title {
        margin-left: 36px;
        font-size: 25px;
        max-width: 493px; } }
    @media (max-width: 768px) {
      .banner-title {
        max-width: 280px;
        margin-left: 15px; } }
    @media (max-width: 576px) {
      .banner-title {
        position: relative;
        top: -25px; } }
    @media (max-width: 480px) {
      .banner-title {
        top: -40px; } }
    @media (max-width: 440px) {
      .banner-title {
        top: -50px; } }
    @media (max-width: 400px) {
      .banner-title {
        margin-left: 0;
        font-size: 24px; } }
    @media (max-width: 375px) {
      .banner-title {
        top: -70px;
        max-width: 210px; } }
    @media (max-width: 350px) {
      .banner-title {
        font-size: 22px; } }
  .banner-button {
    margin-left: 146px;
    box-sizing: border-box;
    background: linear-gradient(179.51deg, #fff 1.89%, #fff 98.11%);
    border-radius: 5px;
    padding: 20px 25px;
    width: 270px;
    color: #048AF5;
    font-size: 20px;
    font-weight: 700; }
    @media (max-width: 1366px) {
      .banner-button {
        margin-left: 36px; } }
    @media (max-width: 767px) {
      .banner-button {
        display: none; } }

.product {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 139px; }
  @media (max-width: 1366px) {
    .product {
      margin-left: 20px;
      margin-right: 20px; }
      .product-item {
        flex-basis: 23%; } }
  @media (max-width: 1200px) {
    .product-item {
      flex-basis: 23.3%; } }
  @media (max-width: 992px) {
    .product-item {
      flex-basis: 23.3%; } }
  @media (max-width: 767px) {
    .product {
      margin-bottom: 80px;
      margin-left: 0;
      margin-right: 0; }
      .product-item {
        flex-basis: 47.5%; }
        .product-item:not(:nth-last-child(-n+2)) {
          margin-bottom: 50px; } }
  @media (max-width: 510px) {
    .product-item {
      flex-basis: 100%; }
      .product-item:not(:nth-last-child(-n+1)) {
        margin-bottom: 15px; } }
  @media (max-width: 480px) {
    .product {
      margin-bottom: 50px; } }
  .product a {
    display: block; }
    .product a div {
      position: relative;
      border-radius: 10px;
      margin-bottom: 50px;
      box-shadow: 0 10px 40px rgba(27, 27, 27, 0.2); }
      @media (max-width: 1200px) {
        .product a div {
          margin-bottom: 40px; } }
      @media (max-width: 1366px) {
        .product a div {
          margin-bottom: 30px; } }
      @media (max-width: 510px) {
        .product a div {
          width: 90%;
          margin-right: -60px; } }
      @media (max-width: 440px) {
        .product a div {
          margin-right: -80px; } }
      @media (max-width: 420px) {
        .product a div {
          margin-right: -100px; } }
      @media (max-width: 400px) {
        .product a div {
          margin-right: -120px; } }
      @media (max-width: 370px) {
        .product a div {
          margin-right: -140px; } }
      .product a div:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        transition-duration: 500ms;
        transition-property: opacity, box-shadow;
        background: linear-gradient(0deg, rgba(4, 138, 245, 0.5), rgba(4, 138, 245, 0.5));
        box-shadow: 0 10px 40px rgba(7, 109, 189, 0.4);
        border-radius: 10px;
        opacity: 0; }
    .product a img {
      display: block;
      width: 100%;
      border-radius: 10px; }
    .product a:hover div:after {
      opacity: 1; }
  .product-title {
    font-weight: 700;
    font-size: 18px;
    color: #5E5E5E;
    margin-bottom: 20px; }
    @media (max-width: 1200px) {
      .product-title {
        font-size: 16px; } }
    @media (max-width: 510px) {
      .product-title {
        font-size: 18px; } }
    @media (max-width: 400px) {
      .product-title {
        margin-bottom: 15px; } }
    @media (max-width: 370px) {
      .product-title {
        font-size: 16px; } }
  .product-price {
    font-size: 16px;
    color: #5E5E5E;
    margin-bottom: 10px; }
    .product-price span {
      font-weight: 700;
      color: #1593F9; }
  .product-date {
    font-size: 16px;
    color: #5E5E5E; }
  .product .box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-basis: 45%; }
    .product .box:not(:nth-last-child(-n+2)) {
      margin-bottom: 113px; }
      @media (max-width: 1100px) {
        .product .box:not(:nth-last-child(-n+2)) {
          margin-bottom: 50px; } }
    @media (max-width: 1100px) {
      .product .box:not(:nth-last-child(-n+1)) {
        margin-bottom: 50px; } }
    .product .box-block {
      flex-basis: 50%; }
      .product .box-block-inline {
        display: flex;
        align-items: center;
        margin: 12px 0; }
        @media (max-width: 410px) {
          .product .box-block-inline {
            margin: 5px 0 0; } }
    .product .box-block:last-child {
      flex-basis: 40%; }
    .product .box-title {
      font-weight: 600;
      font-size: 18px;
      line-height: 142.4%; }
      @media (max-width: 440px) {
        .product .box-title {
          font-size: 16px; } }
    .product .box-text {
      font-size: 16px;
      line-height: 142.4%;
      color: #5E5E5E; }
      @media (max-width: 768px) {
        .product .box-text {
          display: none; } }
    .product .box-price {
      font-weight: 700;
      font-size: 18px;
      color: #1A94F7;
      margin-right: 11px; }
      @media (max-width: 480px) {
        .product .box-price {
          margin-right: 30px; } }
      @media (max-width: 410px) {
        .product .box-price {
          font-size: 16px; } }
    .product .box-add {
      background: #F9784F;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
      border-radius: 5px;
      padding: 5px 17px;
      font-weight: 500;
      font-size: 18px;
      color: #fff;
      text-align: center;
      box-sizing: border-box;
      width: 70px; }
      @media (max-width: 410px) {
        .product .box-add {
          font-size: 16px; } }
      @media (max-width: 375px) {
        .product .box-add {
          width: 60px; } }
    .product .box-date {
      font-size: 16px;
      color: #9D9D9D;
      margin-top: 17px; }
    .product .box-metka {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin: 15px 0 18px; }
      .product .box-metka a {
        font-size: 14px;
        line-height: 24px;
        color: #9D9D9D;
        margin-left: 12px; }
  .product .box-category {
    flex-basis: 100%; }
  @media (max-width: 510px) {
    .product-home .product-item a:first-child {
      float: left; } }

.product.wrap {
  padding-left: 0;
  padding-right: 0; }
  @media (max-width: 767px) {
    .product.wrap {
      padding-left: 15px;
      padding-right: 15px; } }

@media (max-width: 1400px) {
  .product .box-block {
    flex-basis: 46%; }
  .product .box-block:last-child {
    flex-basis: 45%; } }

@media (max-width: 1300px) {
  .product .box {
    flex-basis: 47%; } }

@media (max-width: 1200px) {
  .product .box {
    flex-basis: 48%; }
  .product .box-block {
    flex-basis: 49%; } }

@media (max-width: 1100px) {
  .product .box {
    flex-basis: 100%;
    align-items: center; }
  .product .box-block {
    flex-basis: 32%; }
  .product .box-block:last-child {
    flex-basis: 62%; } }
  @media (max-width: 1100px) and (max-width: 375px) {
    .product .box-block:last-child {
      flex-basis: 59%; } }

@media (max-width: 767px) {
  .product .box {
    flex-wrap: nowrap; } }

@media (max-width: 480px) {
  .product .box-block {
    flex-basis: 36%; } }

@media (max-width: 410px) {
  .product .box-block {
    flex-basis: 37%; } }

.product .box-category .box-block {
  flex-basis: 30%; }

.product .box-category .box-block:last-child {
  flex-basis: 65%; }

.product .box-title-category {
  font-size: 20px; }

.product .box-text-category {
  font-size: 18px; }

.product .box-title-category a {
  color: #5E5E5E; }

.product .box.box-category:not(:nth-last-child(-n+1)) {
  margin-bottom: 95px; }

.product .box-title a {
  color: #5E5E5E; }

.why-choose {
  margin-bottom: 155px;
  background: url("../img/choose-us.svg") no-repeat center/cover;
  border-radius: 10px;
  box-shadow: 0 10px 40px rgba(196, 196, 196, 0.4);
  padding: 54px 64px; }
  @media (max-width: 1366px) {
    .why-choose {
      margin-left: 20px;
      margin-right: 20px; } }
  @media (max-width: 767px) {
    .why-choose {
      padding: 54px 30px;
      margin-bottom: 70px; } }
  .why-choose-title {
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    color: #545454;
    text-transform: uppercase;
    padding-bottom: 63px; }
    .why-choose-title span {
      color: #1593F9; }
    @media (max-width: 767px) {
      .why-choose-title {
        font-size: 28px;
        font-weight: 700;
        padding-bottom: 40px; } }
  .why-choose-block {
    max-width: 910px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 43px; }
    @media (max-width: 991px) {
      .why-choose-block {
        max-width: 100%; } }
    @media (max-width: 767px) {
      .why-choose-block {
        flex-direction: column; } }
    .why-choose-block div:first-child p {
      position: relative;
      top: -8px; }
  .why-choose-text {
    font-weight: 500;
    font-size: 22px;
    color: #545454; }
    @media (max-width: 991px) {
      .why-choose-text {
        font-size: 20px; } }
    @media (max-width: 767px) {
      .why-choose-text {
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 28px; } }
  .why-choose img {
    margin-bottom: 38px; }
    @media (max-width: 767px) {
      .why-choose img {
        margin-bottom: 20px; } }
  @media (max-width: 375px) {
    .why-choose .button {
      padding: 17px 65px; } }
  @media (max-width: 340px) {
    .why-choose {
      margin-left: 10px;
      margin-right: 15px; } }
  @media (max-width: 767px) {
    .why-choose button {
      width: 100%;
      padding: 17px; } }

.map {
  text-align: center;
  margin-bottom: 50px; }
  .map-block {
    max-width: 558px;
    margin: 0 auto 109px;
    display: flex; }
    @media (max-width: 767px) {
      .map-block {
        margin: 0 auto 60px;
        max-width: 95%; } }
    .map-block button {
      position: relative;
      left: 15px; }
  .map #map {
    width: 100%;
    height: 596px; }

.shop {
  margin-bottom: 105px; }
  .shop .submenu {
    width: 220px; }
  @media (max-width: 767px) {
    .shop {
      margin-bottom: 70px; } }
  @media (max-width: 510px) {
    .shop {
      margin-bottom: 60px; } }
  .shop-nav {
    max-width: 750px;
    margin: 0 auto; }
    @media (max-width: 767px) {
      .shop-nav {
        max-width: 100%;
        margin: 0; } }
  .shop .product {
    margin-top: 76px;
    margin-bottom: 55px; }
    .shop .product-item:not(:nth-last-child(-n+4)) {
      margin-bottom: 76px; }
    @media (max-width: 1366px) {
      .shop .product {
        margin-left: 0;
        margin-right: 0; } }
    @media (max-width: 767px) {
      .shop .product {
        margin-top: 50px; } }
    @media (max-width: 510px) {
      .shop .product {
        margin-bottom: 30px; } }
    @media (max-width: 510px) {
      .shop .product-item:not(:nth-last-child(-n+1)) {
        margin-bottom: 15px; } }
  .shop-blue {
    color: #1593F9 !important; }
  @media (max-width: 768px) {
    .shop .menu-block {
      flex-wrap: wrap;
      justify-content: center; } }
  @media (max-width: 768px) {
    .shop .menu-block > li {
      margin-right: 20px;
      line-height: 40px; } }
  @media (max-width: 760px) {
    .shop .menu-block > li {
      margin-right: 50px; } }
  @media (max-width: 767px) {
    .shop .menu-block > li a {
      font-size: 18px; } }
  @media (max-width: 350px) {
    .shop .menu-block > li img {
      margin-left: 2px; } }
  @media (max-width: 992px) {
    .shop .menu-block .submenu {
      width: 155px;
      border-radius: 5px; } }
  @media (max-width: 992px) {
    .shop .menu-block .submenu a {
      padding: 10px;
      font-size: 16px; } }
  @media (max-width: 768px) {
    .shop .menu-block .submenu a {
      padding: 4px 10px; } }
  @media (max-width: 768px) {
    .shop .menu-block .submenu li {
      margin-bottom: 0; } }
  @media (max-width: 510px) {
    .shop .button {
      width: 100%;
      padding: 17px; } }

@media (max-width: 567px) {
  .shop .menu-block {
    flex-direction: column !important; }
  .shop .menu-dropdown:hover .submenu {
    opacity: 0;
    visibility: hidden;
    margin-top: 0; }
  .shop .menu .submenu {
    position: relative;
    display: none; }
  .shop .menu .menu-dropdown.active .submenu {
    display: block;
    opacity: 1;
    visibility: visible; }
  .shop .menu .submenu {
    top: 0;
    width: auto;
    box-shadow: none; }
  .shop .menu-block .submenu {
    width: auto; }
  .shop .menu .submenu li:hover {
    background: transparent; }
  .shop .menu .submenu a:hover {
    color: #FF5722; } }

.about {
  margin-bottom: 157px; }
  @media (max-width: 767px) {
    .about {
      margin-bottom: 70px; } }
  .about-text {
    font-size: 20px;
    line-height: 190.9%;
    color: #545454; }
  .about-block {
    margin-top: 87px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    @media (max-width: 1366px) {
      .about-block {
        margin-left: 20px;
        margin-right: 20px; } }
    @media (max-width: 767px) {
      .about-block {
        margin-top: 50px; } }
    @media (max-width: 992px) {
      .about-block div {
        margin-right: 35px; }
        .about-block div:last-child {
          margin-right: 0; } }
    .about-block div ul li {
      line-height: 56px;
      list-style-image: url("../img/circle.svg");
      padding-left: 35px; }
      @media (max-width: 1200px) {
        .about-block div ul li {
          padding-left: 15px; } }
      @media (max-width: 992px) {
        .about-block div ul li {
          padding-left: 10px; } }
      @media (max-width: 576px) {
        .about-block div ul li {
          padding-left: 35px;
          line-height: 50px; } }
      @media (max-width: 420px) {
        .about-block div ul li {
          padding-left: 25px; } }
      @media (max-width: 360px) {
        .about-block div ul li {
          padding-left: 15px; } }
      @media (max-width: 330px) {
        .about-block div ul li {
          padding-left: 10px; } }
      .about-block div ul li a {
        font-weight: 500;
        font-size: 22px;
        color: #545454; }
        @media (max-width: 375px) {
          .about-block div ul li a {
            font-size: 20px; } }
        @media (max-width: 350px) {
          .about-block div ul li a {
            font-size: 18px; } }
  .about-dots {
    display: none; }
    @media (max-width: 767px) {
      .about-dots {
        display: inline-block; } }
  @media (max-width: 767px) {
    .about-more {
      display: none; } }
  .about-button {
    display: none;
    font-size: 20px;
    color: #ff5722;
    font-weight: 700;
    cursor: pointer;
    margin-top: 5px; }
    @media (max-width: 767px) {
      .about-button {
        display: block; } }

.contact-us {
  background: url("../img/choose-us.svg") no-repeat center/cover; }

.footer {
  background: url("../img/footer.svg") no-repeat center/cover;
  padding: 44px 0; }
  @media (max-width: 567px) {
    .footer {
      padding: 35px 0; } }
  .footer .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
    @media (max-width: 650px) {
      .footer .wrap {
        flex-direction: column;
        align-items: flex-start; } }
    @media (max-width: 650px) {
      .footer .wrap-right {
        margin-top: 25px; } }
    .footer .wrap-right a {
      margin-right: 47px; }
      @media (max-width: 992px) {
        .footer .wrap-right a {
          margin-right: 35px; } }
      @media (max-width: 767px) {
        .footer .wrap-right a {
          margin-right: 30px; } }
      .footer .wrap-right a:last-child {
        margin-right: 0; }
      @media (max-width: 767px) {
        .footer .wrap-right a img {
          max-height: 30px; } }
  .footer-text {
    font-weight: 500;
    font-size: 20px;
    text-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    color: #fff;
    margin-bottom: 10px; }
    @media (max-width: 767px) {
      .footer-text {
        font-size: 18px; } }
    @media (max-width: 425px) {
      .footer-text {
        font-size: 16px; } }
    @media (max-width: 650px) {
      .footer-text {
        margin-bottom: 15px; } }
    .footer-text:last-child {
      margin-bottom: 0; }

.form {
  max-width: 553px;
  margin: 0 auto; }
  @media (max-width: 767px) {
    .form {
      max-width: 95%; } }
  @media (max-width: 480px) {
    .form {
      max-width: 100%; } }
  .form .first {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 52px; }
    @media (max-width: 767px) {
      .form .first {
        margin-bottom: 0; } }
    .form .first input {
      width: 45%;
      padding-left: 10px;
      color: #6d6d6d; }
      .form .first input::placeholder {
        color: #6d6d6d; }
      @media (max-width: 767px) {
        .form .first input {
          width: 100%;
          margin-bottom: 40px; } }
  .form div:nth-child(3) {
    margin-bottom: 120px;
    display: block; }
    @media (max-width: 767px) {
      .form div:nth-child(3) {
        margin-bottom: 70px; } }
  .form textarea {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #989898;
    margin-bottom: 72px;
    font-family: 'Avenir Next Cyr', sans-serif;
    resize: none;
    height: 25px;
    font-size: 18px;
    padding: 0 10px;
    color: #6d6d6d; }
    .form textarea::placeholder {
      opacity: 1;
      color: #6d6d6d; }

.dropcontainer_demo2 {
  position: relative;
  color: #6d6d6d; }

.trigger_demo2 {
  color: #6d6d6d;
  padding: 10px 10px 5px;
  font-size: 18px;
  width: 100%;
  background: #fff url(../img/arrow.svg) 98% center no-repeat;
  display: block;
  transition: all 0.5s ease;
  border-bottom: 1px solid #A6A6A6;
  box-sizing: border-box; }

.activetrigger_demo2 {
  color: #6d6d6d;
  padding: 10px 10px 5px;
  font-size: 18px;
  width: 100%;
  background: #fff url(../img/arrow.svg) 98% center no-repeat;
  display: block;
  box-sizing: border-box; }

.activetrigger_demo2:hover {
  background: #fff url(../img/arrow.svg) 98% center no-repeat;
  color: #6d6d6d; }

.activetrigger_demo2:active {
  background: #fff url(../img/arrow.svg) 98% center no-repeat;
  color: #6d6d6d; }

.dropcontainer_demo2 ul {
  font-size: 20px;
  border-top: 1px solid #A6A6A6;
  background: #fff;
  width: 100%;
  z-index: 100;
  position: absolute;
  box-shadow: 0 10px 50px rgba(0, 90, 163, 0.19);
  border-radius: 10px;
  padding: 12px 0; }

.dropcontainer_demo2 ul li {
  padding: 11px 10px 11px 50px;
  transition: all 0.5s ease; }

.dropcontainer_demo2 ul li a {
  color: #6d6d6d;
  display: block;
  font-family: 'Avenir Next Cyr', sans-serif; }

.dropcontainer_demo2 ul li:hover {
  background: linear-gradient(90deg, rgba(4, 138, 245, 0) -2.38%, #83C8FF 46.78%, rgba(4, 138, 245, 0) 103.68%); }

.dropdownhidden_demo2 {
  display: none; }

.dropdownvisible_demo2 {
  height: 270px;
  overflow-y: scroll; }
  .dropdownvisible_demo2::-webkit-scrollbar {
    width: 9px; }
  .dropdownvisible_demo2::-webkit-scrollbar-track {
    background: #E0F1FE;
    border-radius: 10px; }
  .dropdownvisible_demo2::-webkit-scrollbar-thumb {
    background: #6DB7F4;
    border-radius: 10px; }

.request {
  display: none; }
  @media (max-width: 767px) {
    .request {
      display: block;
      border-radius: 5px;
      text-align: center;
      margin-bottom: 50px; }
      .request-title {
        background: linear-gradient(179.62deg, #fff 1.89%, #fff 98.11%);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        font-weight: 500;
        font-size: 20px;
        color: #048AF5;
        width: 100%;
        border-radius: 5px;
        display: block;
        padding: 20px 0; } }

.menu.active .menu-dropdown {
  position: relative; }
  .menu.active .menu-dropdown:after {
    content: '';
    background: url("../img/arrow-down.svg") no-repeat;
    width: 17px;
    height: 9px;
    display: block;
    left: 220px;
    top: 24px;
    position: absolute; }

.menu.active .menu-dropdown.active:after {
  background: url("../img/arrow-up.png") no-repeat; }

body.menu-mobile-open {
  overflow: hidden; }

@media (max-width: 991px) {
  .shop-nav .menu-block li .active {
    color: #ff5722; } }

@media (max-width: 991px) {
  .shop-nav .menu-block li a {
    font-size: 20px; } }

@media (max-width: 991px) {
  .shop-nav .menu-block li {
    margin-bottom: 25px; } }

@media (max-width: 991px) {
  .shop-nav.menu .submenu a {
    padding: 13px 0 13px 25px !important;
    font-weight: 400 !important; } }

@media (max-width: 991px) {
  .shop-nav .menu-block .submenu li {
    margin-bottom: 0; } }

@media (max-width: 991px) {
  .shop-nav .menu-dropdown::after {
    content: '';
    background: url("../img/arrow-gray.svg") no-repeat;
    width: 17px;
    height: 9px;
    display: block;
    left: 170px;
    top: 14px;
    position: absolute; } }

@media (max-width: 991px) {
  .shop .menu-block > li {
    line-height: normal; } }

@media (max-width: 991px) {
  .shop .menu-block {
    padding-top: 0; } }

.breadcrumps {
  margin-top: 60px;
  border-top: 4px solid #8DCCFF;
  padding-top: 28px;
  padding-bottom: 28px; }
  @media (max-width: 991px) {
    .breadcrumps {
      border-top: none;
      margin-top: 10px; } }
  .breadcrumps ul {
    display: flex;
    align-items: center; }
    .breadcrumps ul li a {
      color: #989898;
      font-size: 18px; }
    .breadcrumps ul li {
      color: #989898;
      margin-right: 3px; }
      .breadcrumps ul li:last-child {
        margin-right: 0; }
    .breadcrumps ul .active a {
      color: #545454; }

.category {
  padding-bottom: 150px; }
  .category-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;
    color: #545454;
    text-shadow: 0 5px 20px rgba(16, 70, 114, 0.2);
    margin-bottom: 75px; }
    @media (max-width: 767px) {
      .category-title {
        display: none; } }
  .category-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
    .category-block-left {
      width: 228px;
      background: #fff;
      box-shadow: 0 10px 50px rgba(0, 47, 84, 0.17);
      border-radius: 10px;
      padding: 40px 25px 36px 25px;
      box-sizing: border-box; }
      @media (max-width: 767px) {
        .category-block-left {
          display: none;
          padding: 0;
          padding-top: 30px;
          border-radius: 0; } }
      .category-block-left div {
        margin-bottom: 25px; }
        @media (max-width: 767px) {
          .category-block-left div {
            cursor: pointer;
            margin-bottom: 0; } }
        .category-block-left div:last-child {
          margin-bottom: 0; }
        @media (max-width: 767px) {
          .category-block-left div ul {
            display: none; } }
      @media (max-width: 767px) {
        .category-block-left div.dropdown {
          position: relative; }
          .category-block-left div.dropdown:after {
            content: '';
            background: url("../img/arrow-down.svg") no-repeat;
            width: 17px;
            height: 9px;
            display: block;
            left: 300px;
            top: 24px;
            position: absolute; } }
    @media (max-width: 767px) and (max-width: 480px) {
      .category-block-left div.dropdown:after {
        left: 270px; } }
      .category-block-left div.dropdown.active:after {
        background: url("../img/arrow-up.png") no-repeat; }
      .category-block-left div.active ul {
        display: block; }
    .category-block-right {
      flex-basis: 78%; }
      @media (max-width: 767px) {
        .category-block-right {
          flex-basis: 100%; } }
    .category-block-left.active {
      display: block;
      position: fixed;
      top: 0;
      width: 100%;
      bottom: 0;
      left: 0;
      right: 0;
      background: url("../img/background-menu.jpg") no-repeat;
      background-size: cover;
      z-index: 999; }
      .category-block-left.active div:first-of-type {
        margin-top: 40px; }
  .category .block-title {
    font-weight: 600;
    font-size: 20px;
    color: #545454;
    margin-bottom: 20px; }
    .category .block-title:last-child {
      margin-bottom: 0; }
    @media (max-width: 767px) {
      .category .block-title {
        font-size: 22px;
        font-weight: 700;
        color: #fff;
        padding-left: 100px;
        padding-top: 13px;
        padding-bottom: 13px;
        margin-bottom: 0; }
        .category .block-title:hover {
          background: radial-gradient(102.17% 4020.25% at 102.17% 100%, rgba(255, 255, 255, 0.49) 0%, rgba(255, 255, 255, 0.79) 49.48%, rgba(255, 255, 255, 0.54) 100%); } }
    @media (max-width: 480px) {
      .category .block-title {
        padding-left: 70px; } }
    .category .block-title a {
      color: #545454; }
  .category .block ul {
    margin-left: 15px; }
    @media (max-width: 767px) {
      .category .block ul {
        margin-left: 0; } }
    .category .block ul li {
      margin-bottom: 20px; }
      @media (max-width: 767px) {
        .category .block ul li {
          margin-bottom: 0; } }
      .category .block ul li:last-child {
        margin-bottom: 0; }
      .category .block ul li a {
        font-size: 20px;
        line-height: 30px;
        color: #545454; }
        .category .block ul li a:hover {
          color: #FF5722; }
        @media (max-width: 767px) {
          .category .block ul li a {
            color: #fff;
            font-weight: 400;
            display: block;
            padding-left: 125px;
            padding-top: 13px;
            padding-bottom: 13px;
            line-height: 25px; }
            .category .block ul li a:hover {
              color: #fff;
              background: radial-gradient(102.17% 4020.25% at 102.17% 100%, rgba(255, 255, 255, 0.49) 0%, rgba(255, 255, 255, 0.79) 49.48%, rgba(255, 255, 255, 0.54) 100%); } }
        @media (max-width: 480px) {
          .category .block ul li a {
            padding-left: 100px; } }
    .category .block ul .active a {
      color: #FF5722; }
      @media (max-width: 767px) {
        .category .block ul .active a {
          color: #fff; } }
  .category .product {
    margin-bottom: 0; }
    .category .product a div {
      margin-bottom: 0; }
  .category-close {
    display: none;
    cursor: pointer;
    margin-left: 30px; }
    @media (max-width: 767px) {
      .category-close {
        display: block; } }
  .category-services .from {
    font-size: 16px;
    color: #5E5E5E;
    margin-right: 9px; }
  .category-services .product .box:not(:nth-last-child(-n+2)) {
    margin-bottom: 85px; }
    @media (max-width: 480px) {
      .category-services .product .box:not(:nth-last-child(-n+2)) {
        margin-bottom: 50px; } }
  .category-services .product .box-block {
    flex-basis: 44%; }
  .category-services .product .box-block:last-child {
    flex-basis: 46%; }
  .category-services .product .box {
    align-items: center; }
  @media (max-width: 480px) {
    .category-services .product .box-block:last-child {
      flex-basis: 55%; } }

.category-block-left.active .block-title a {
  color: #fff; }

.chat {
  position: fixed;
  right: 10px;
  bottom: 0; }
  @media (max-width: 567px) {
    .chat {
      right: -20px; } }
  .chat-icon {
    width: 150px;
    cursor: pointer; }
  .chat-title {
    text-align: center;
    font-weight: 600;
    font-size: 22px;
    color: #5E5E5E;
    display: block;
    margin-bottom: 34px; }
    @media (max-width: 480px) {
      .chat-title {
        margin-bottom: 25px; } }
  .chat-block {
    display: none;
    width: 366px;
    box-sizing: border-box;
    padding: 37px 30px;
    background: #fff;
    box-shadow: 0 10px 50px rgba(0, 47, 84, 0.2);
    border-radius: 10px; }
    @media (max-width: 480px) {
      .chat-block {
        width: 100%;
        padding: 30px 20px; } }
  .chat-dialog {
    display: none; }
    .chat-dialog input {
      padding: 0;
      display: block;
      font-weight: 300;
      font-size: 16px;
      color: #545454;
      border-bottom: 1px solid #BCBEC0;
      padding-bottom: 5px;
      padding-right: 30px; }
      .chat-dialog input::placeholder {
        font-weight: 300;
        font-size: 16px;
        color: #545454;
        opacity: 1; }
  .chat-close {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 34px;
    cursor: pointer; }
    @media (max-width: 480px) {
      .chat-close {
        top: 20px; } }
  .chat-hello {
    display: flex;
    align-items: center;
    margin-bottom: 43px; }
    @media (max-width: 480px) {
      .chat-hello {
        margin-bottom: 30px; } }
    .chat-hello div {
      width: 39px;
      height: 39px;
      flex-shrink: 0;
      border-radius: 50%;
      margin-right: 19px; }
      .chat-hello div img {
        width: 100%;
        display: block; }
  .chat-text {
    font-weight: 300;
    font-size: 16px;
    color: #545454; }
  .chat-form input {
    display: block;
    font-weight: 300;
    font-size: 16px;
    color: #545454;
    border-bottom: 1px solid #BCBEC0;
    padding: 0;
    padding-bottom: 5px;
    margin-bottom: 40px; }
    @media (max-width: 480px) {
      .chat-form input {
        margin-bottom: 30px; } }
    .chat-form input::placeholder {
      font-size: 16px;
      opacity: 1; }
  .chat-form button {
    text-align: center;
    display: block;
    width: 100%;
    background: rgba(255, 87, 34, 0.7);
    border-radius: 5px;
    padding-top: 17px;
    padding-bottom: 17px;
    font-weight: 600;
    font-size: 20px;
    color: #fff; }
    @media (max-width: 480px) {
      .chat-form button {
        font-size: 18px; } }
  .chat-user {
    margin-bottom: 23px;
    box-sizing: border-box;
    padding: 18px 17px 18px 28px;
    color: #545454;
    font-size: 16px; }
    .chat-user:last-child {
      margin-bottom: 0; }
  .chat-user:nth-child(odd) {
    background: rgba(4, 138, 245, 0.2);
    border-radius: 18px 18px 18px 0; }
  .chat-user:nth-child(even) {
    background: #FF8964;
    border-radius: 18px 18px 4px 18px;
    width: 219px;
    margin-left: auto;
    color: #fff;
    padding: 11px 17px 11px 24px; }
  .chat-send {
    position: relative; }
    .chat-send img {
      position: absolute;
      right: 0;
      top: -5px;
      cursor: pointer; }

.close-chat .chat-block {
  display: none; }

.close-chat .chat-icon {
  display: block; }

.open-chat .chat-block {
  display: block; }

.open-chat .chat-icon {
  display: none; }

.open-chat .chat {
  right: 30px; }
  @media (max-width: 480px) {
    .open-chat .chat {
      right: 10px;
      left: 10px; } }

.open-chat .chat-close {
  right: 30px; }
  @media (max-width: 480px) {
    .open-chat .chat-close {
      right: 20px; } }
